@charset "utf-8"; @import "compass";

 $screen-phone: 480px; 
 $screen-tablet: 768px; 
 $screen-desktop: 992px; 
 $screen-lg-desktop: 1200px; 
 $screen-xs-max: ($screen-tablet - 1); 
 $screen-sm-max: ($screen-desktop - 1); 
 $screen-md-max: ($screen-lg-desktop - 1);

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a {
  background: transparent;
}
// a:focus {
//   outline: thin dotted;
// }
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  border: 2px solid #CDCDCD;
  padding: 0 30px 0 13px;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  text-shadow: none;
  @include border-radius(19px);
  border: 2px solid #CDCDCD;
  padding: 0 30px 0 13px;
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 2cm .5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  select {
    background: #fff !important;
  }
  .navbar {
    display: none;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  .label {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: (30 / 15);
  color: #000;
  background-color: #f5f5f5;
}
@media (max-width: $screen-sm-max) {
  body {
    font-size: 18px;
    line-height: 34px;
  }
}

@media (max-width: $screen-xs-max) {
  body {
    font-size: 14px;
    line-height: 26px;
  }
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: rgba(50, 64, 153, 1);
  text-decoration: none;
  border-bottom: 1px solid rgba(50, 64, 153, 1);
}
a:hover{
  color: rgba(50, 64, 153, 0.6);
  text-decoration: none;
  border-bottom: 1px solid rgba(50, 64, 153, 0.6);
}
// a:focus {
//   outline: thin dotted #333;
//   outline: 5px auto -webkit-focus-ring-color;
//   outline-offset: -2px;
// }
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.428571429;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 35px;
  margin-bottom: 40px;
  border: 0;
  border-top: 1px solid #dcdcdc;
}
@media (max-width: $screen-sm-max) {
  hr {
    margin: 30px 0;
  }
}
@media (max-width: $screen-xs-max) {
  hr {
    margin: 25px 0;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
p {
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
}
@media (min-width: $screen-tablet) {
  .lead {
    font-size: 21px;
  }
}
small,
.small {
  font-size: 85%;
}
cite {
  font-style: normal;
}
.text-muted {
  color: #999999;
}
.text-primary {
  color: #428bca;
}
.text-primary:hover {
  color: #3071a9;
}
.text-warning {
  color: #c09853;
}
.text-warning:hover {
  color: #a47e3c;
}
.text-danger {
  color: #b94a48;
}
.text-danger:hover {
  color: #953b39;
}
.text-success {
  color: #468847;
}
.text-success:hover {
  color: #356635;
}
.text-info {
  color: #3a87ad;
}
.text-info:hover {
  color: #2d6987;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
h1,
h2,
h3 {
  margin-top: 30px;
  margin-bottom: 0px;
}
// @media (max-width: $screen-sm-max) {
//   h1,
//   h2,
//   h3 {
//     margin-top: 30px;
//     margin-bottom: 0px;
//   }
// }
@media (max-width: $screen-xs-max) {
  h1,
  h2,
  h3 {
    margin-top: 20px;
    margin-bottom: 0px;
  }
}
h1 small,
h2 small,
h3 small,
h1 .small,
h2 .small,
h3 .small {
  font-size: 65%;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 small,
h5 small,
h6 small,
h4 .small,
h5 .small,
h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.list-inline > li:first-child {
  padding-left: 0;
}
dl {
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.428571429;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
@media (min-width: $screen-tablet) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
  .dl-horizontal dd:before,
  .dl-horizontal dd:after {
    content: " ";
    /* 1 */
  
    display: table;
    /* 2 */
  
  }
  .dl-horizontal dd:after {
    clear: both;
  }
  .dl-horizontal dd:before,
  .dl-horizontal dd:after {
    content: " ";
    /* 1 */
  
    display: table;
    /* 2 */
  
  }
  .dl-horizontal dd:after {
    clear: both;
  }
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #dcdcdc;
}
blockquote p {
  font-size: 17.5px;
  font-weight: 300;
  line-height: 1.25;
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote small {
  display: block;
  line-height: 1.428571429;
  color: #999999;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #dcdcdc;
  border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small,
blockquote.pull-right .small {
  text-align: right;
}
blockquote.pull-right small:before,
blockquote.pull-right .small:before {
  content: '';
}
blockquote.pull-right small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}
blockquote:before,
blockquote:after {
  content: "";
}
address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.428571429;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 17.5px;
  padding-right: 17.5px;
}
.container:before,
.container:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.container:after {
  clear: both;
}
.container:before,
.container:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.container:after {
  clear: both;
}
.row {
  margin-left: -17.5px;
  margin-right: -17.5px;
}
@media (min-width: $screen-tablet) {
  .container {
    width: 755px;
  }
}
@media (min-width: $screen-desktop) {
  .container {
    width: 975px;
  }
}
@media (min-width: $screen-lg-desktop) {
  .container {
    width: 1000px;
  }
}
.row:before,
.row:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.row:after {
  clear: both;
}
.row:before,
.row:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.row:after {
  clear: both;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-4_5, .col-sm-4_5, .col-md-4_5, .col-lg-4_5, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-4_5 {
  float: left;
}
.col-xs-9 {
  width: 100%;
}
.col-xs-8 {
  width: 88.88888888888889%;
}
.col-xs-7 {
  width: 77.77777777777779%;
}
.col-xs-6 {
  width: 66.66666666666666%;
}
.col-xs-5 {
  width: 55.55555555555556%;
}
.col-xs-4_5 {
  width: 50%;
}
.col-xs-4 {
  width: 44.44444444444444%;
}
.col-xs-3 {
  width: 33.33333333333333%;
}
.col-xs-2 {
  width: 22.22222222222222%;
}
.col-xs-1 {
  width: 11.11111111111111%;
}
.col-xs-pull-9 {
  right: 100%;
}
.col-xs-pull-8 {
  right: 88.88888888888889%;
}
.col-xs-pull-7 {
  right: 77.77777777777779%;
}
.col-xs-pull-6 {
  right: 66.66666666666666%;
}
.col-xs-pull-5 {
  right: 55.55555555555556%;
}
.col-xs-pull-4_5 {
  right: 50%;
}
.col-xs-pull-4 {
  right: 44.44444444444444%;
}
.col-xs-pull-3 {
  right: 33.33333333333333%;
}
.col-xs-pull-2 {
  right: 22.22222222222222%;
}
.col-xs-pull-1 {
  right: 11.11111111111111%;
}
.col-xs-pull-0 {
  right: 0%;
}
.col-xs-push-9 {
  left: 100%;
}
.col-xs-push-8 {
  left: 88.88888888888889%;
}
.col-xs-push-7 {
  left: 77.77777777777779%;
}
.col-xs-push-6 {
  left: 66.66666666666666%;
}
.col-xs-push-5 {
  left: 55.55555555555556%;
}
.col-xs-push-4_5 {
  left: 50%;
}
.col-xs-push-4 {
  left: 44.44444444444444%;
}
.col-xs-push-3 {
  left: 33.33333333333333%;
}
.col-xs-push-2 {
  left: 22.22222222222222%;
}
.col-xs-push-1 {
  left: 11.11111111111111%;
}
.col-xs-push-0 {
  left: 0%;
}
.col-xs-offset-9 {
  margin-left: 100%;
}
.col-xs-offset-8 {
  margin-left: 88.88888888888889%;
}
.col-xs-offset-7 {
  margin-left: 77.77777777777779%;
}
.col-xs-offset-6 {
  margin-left: 66.66666666666666%;
}
.col-xs-offset-5 {
  margin-left: 55.55555555555556%;
}
.col-xs-offset-4_5 {
  margin-left: 50%;
}
.col-xs-offset-4 {
  margin-left: 44.44444444444444%;
}
.col-xs-offset-3 {
  margin-left: 33.33333333333333%;
}
.col-xs-offset-2 {
  margin-left: 22.22222222222222%;
}
.col-xs-offset-1 {
  margin-left: 11.11111111111111%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: $screen-tablet) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-4_5, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
  }
  .col-sm-9 {
    width: 100%;
  }
  .col-sm-8 {
    width: 88.88888888888889%;
  }
  .col-sm-7 {
    width: 77.77777777777779%;
  }
  .col-sm-6 {
    width: 66.66666666666666%;
  }
  .col-sm-5 {
    width: 55.55555555555556%;
  }
  .col-sm-4_5 {
    width: 50%;
  }
  .col-sm-4 {
    width: 44.44444444444444%;
  }
  .col-sm-3 {
    width: 33.33333333333333%;
  }
  .col-sm-2 {
    width: 22.22222222222222%;
  }
  .col-sm-1 {
    width: 11.11111111111111%;
  }
  .col-sm-pull-9 {
    right: 100%;
  }
  .col-sm-pull-8 {
    right: 88.88888888888889%;
  }
  .col-sm-pull-7 {
    right: 77.77777777777779%;
  }
  .col-sm-pull-6 {
    right: 66.66666666666666%;
  }
  .col-sm-pull-5 {
    right: 55.55555555555556%;
  }
  .col-sm-pull-4_5 {
    right: 50%;
  }
  .col-sm-pull-4 {
    right: 44.44444444444444%;
  }
  .col-sm-pull-3 {
    right: 33.33333333333333%;
  }
  .col-sm-pull-2 {
    right: 22.22222222222222%;
  }
  .col-sm-pull-1 {
    right: 11.11111111111111%;
  }
  .col-sm-pull-0 {
    right: 0%;
  }
  .col-sm-push-9 {
    left: 100%;
  }
  .col-sm-push-8 {
    left: 88.88888888888889%;
  }
  .col-sm-push-7 {
    left: 77.77777777777779%;
  }
  .col-sm-push-6 {
    left: 66.66666666666666%;
  }
  .col-sm-push-5 {
    left: 55.55555555555556%;
  }
  .col-sm-push-4_5 {
    left: 50%;
  }
  .col-sm-push-4 {
    left: 44.44444444444444%;
  }
  .col-sm-push-3 {
    left: 33.33333333333333%;
  }
  .col-sm-push-2 {
    left: 22.22222222222222%;
  }
  .col-sm-push-1 {
    left: 11.11111111111111%;
  }
  .col-sm-push-0 {
    left: 0%;
  }
  .col-sm-offset-9 {
    margin-left: 100%;
  }
  .col-sm-offset-8 {
    margin-left: 88.88888888888889%;
  }
  .col-sm-offset-7 {
    margin-left: 77.77777777777779%;
  }
  .col-sm-offset-6 {
    margin-left: 66.66666666666666%;
  }
  .col-sm-offset-5 {
    margin-left: 55.55555555555556%;
  }
  .col-sm-offset-4_5 {
    margin-left: 50%;
  }
  .col-sm-offset-4 {
    margin-left: 44.44444444444444%;
  }
  .col-sm-offset-3 {
    margin-left: 33.33333333333333%;
  }
  .col-sm-offset-2 {
    margin-left: 22.22222222222222%;
  }
  .col-sm-offset-1 {
    margin-left: 11.11111111111111%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: $screen-desktop) {
  
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-4_5, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
  }
  .col-md-9 {
    width: 100%;
  }
  .col-md-8 {
    width: 88.88888888888889%;
  }
  .col-md-7 {
    width: 77.77777777777779%;
  }
  .col-md-6 {
    width: 66.66666666666666%;
  }
  .col-md-5 {
    width: 55.55555555555556%;
  }
  .col-md-4_5 {
    width: 50%;
  }
  .col-md-4 {
    width: 44.44444444444444%;
  }
  .col-md-3 {
    width: 33.33333333333333%;
  }
  .col-md-2 {
    width: 22.22222222222222%;
  }
  .col-md-1 {
    width: 11.11111111111111%;
  }
  .col-md-pull-9 {
    right: 100%;
  }
  .col-md-pull-8 {
    right: 88.88888888888889%;
  }
  .col-md-pull-7 {
    right: 77.77777777777779%;
  }
  .col-md-pull-6 {
    right: 66.66666666666666%;
  }
  .col-md-pull-5 {
    right: 55.55555555555556%;
  }
  .col-md-pull-4_5 {
    right: 50%;
  }
  .col-md-pull-4 {
    right: 44.44444444444444%;
  }
  .col-md-pull-3 {
    right: 33.33333333333333%;
  }
  .col-md-pull-2 {
    right: 22.22222222222222%;
  }
  .col-md-pull-1 {
    right: 11.11111111111111%;
  }
  .col-md-pull-0 {
    right: 0%;
  }
  .col-md-push-9 {
    left: 100%;
  }
  .col-md-push-8 {
    left: 88.88888888888889%;
  }
  .col-md-push-7 {
    left: 77.77777777777779%;
  }
  .col-md-push-6 {
    left: 66.66666666666666%;
  }
  .col-md-push-5 {
    left: 55.55555555555556%;
  }
  .col-md-push-4_5 {
    left: 50%;
  }
  .col-md-push-4 {
    left: 44.44444444444444%;
  }
  .col-md-push-3 {
    left: 33.33333333333333%;
  }
  .col-md-push-2 {
    left: 22.22222222222222%;
  }
  .col-md-push-1 {
    left: 11.11111111111111%;
  }
  .col-md-push-0 {
    left: 0%;
  }
  .col-md-offset-9 {
    margin-left: 100%;
  }
  .col-md-offset-8 {
    margin-left: 88.88888888888889%;
  }
  .col-md-offset-7 {
    margin-left: 77.77777777777779%;
  }
  .col-md-offset-6 {
    margin-left: 66.66666666666666%;
  }
  .col-md-offset-5 {
    margin-left: 55.55555555555556%;
  }
  .col-md-offset-4_5 {
    margin-left: 50%;
  }
  .col-md-offset-4 {
    margin-left: 44.44444444444444%;
  }
  .col-md-offset-3 {
    margin-left: 33.33333333333333%;
  }
  .col-md-offset-2 {
    margin-left: 22.22222222222222%;
  }
  .col-md-offset-1 {
    margin-left: 11.11111111111111%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: $screen-lg-desktop) {
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-4_5, .col-sm-4_5, .col-md-4_5, .col-lg-4_5, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9 {
    position: relative;
    min-height: 1px;
    padding-left: 17.5px;
    padding-right: 17.5px;
  }
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-4_5, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    float: left;
  }
  .col-lg-9 {
    width: 100%;
  }
  .col-lg-8 {
    width: 88.88888888888889%;
  }
  .col-lg-7 {
    width: 77.77777777777779%;
  }
  .col-lg-6 {
    width: 66.66666666666666%;
  }
  .col-lg-5 {
    width: 55.55555555555556%;
  }
  .col-lg-4_5 {
    width: 50%;
  }
  .col-lg-4 {
    width: 44.44444444444444%;
  }
  .col-lg-3 {
    width: 33.33333333333333%;
  }
  .col-lg-2 {
    width: 22.22222222222222%;
  }
  .col-lg-1 {
    width: 11.11111111111111%;
  }
  .col-lg-pull-9 {
    right: 100%;
  }
  .col-lg-pull-8 {
    right: 88.88888888888889%;
  }
  .col-lg-pull-7 {
    right: 77.77777777777779%;
  }
  .col-lg-pull-6 {
    right: 66.66666666666666%;
  }
  .col-lg-pull-5 {
    right: 55.55555555555556%;
  }
  .col-lg-pull-4_5 {
    right: 50%;
  }
  .col-lg-pull-4 {
    right: 44.44444444444444%;
  }
  .col-lg-pull-3 {
    right: 33.33333333333333%;
  }
  .col-lg-pull-2 {
    right: 22.22222222222222%;
  }
  .col-lg-pull-1 {
    right: 11.11111111111111%;
  }
  .col-lg-pull-0 {
    right: 0%;
  }
  .col-lg-push-9 {
    left: 100%;
  }
  .col-lg-push-8 {
    left: 88.88888888888889%;
  }
  .col-lg-push-7 {
    left: 77.77777777777779%;
  }
  .col-lg-push-6 {
    left: 66.66666666666666%;
  }
  .col-lg-push-5 {
    left: 55.55555555555556%;
  }
  .col-lg-push-4_5 {
    left: 50%;
  }
  .col-lg-push-4 {
    left: 44.44444444444444%;
  }
  .col-lg-push-3 {
    left: 33.33333333333333%;
  }
  .col-lg-push-2 {
    left: 22.22222222222222%;
  }
  .col-lg-push-1 {
    left: 11.11111111111111%;
  }
  .col-lg-push-0 {
    left: 0%;
  }
  .col-lg-offset-9 {
    margin-left: 100%;
  }
  .col-lg-offset-8 {
    margin-left: 88.88888888888889%;
  }
  .col-lg-offset-7 {
    margin-left: 77.77777777777779%;
  }
  .col-lg-offset-6 {
    margin-left: 66.66666666666666%;
  }
  .col-lg-offset-5 {
    margin-left: 55.55555555555556%;
  }
  .col-lg-offset-4_5 {
    margin-left: 50%;
  }
  .col-lg-offset-4 {
    margin-left: 44.44444444444444%;
  }
  .col-lg-offset-3 {
    margin-left: 33.33333333333333%;
  }
  .col-lg-offset-2 {
    margin-left: 22.22222222222222%;
  }
  .col-lg-offset-1 {
    margin-left: 11.11111111111111%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
tr.visible-xs,
th.visible-xs,
td.visible-xs {
  display: none !important;
}
@media (max-width: $screen-xs-max) {
  .visible-xs {
    display: block !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (min-width: $screen-tablet) and (max-width: $screen-sm-max) {
  .visible-xs.visible-sm {
    display: block !important;
  }
  tr.visible-xs.visible-sm {
    display: table-row !important;
  }
  th.visible-xs.visible-sm,
  td.visible-xs.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: $screen-desktop) and (max-width: $screen-md-max) {
  .visible-xs.visible-md {
    display: block !important;
  }
  tr.visible-xs.visible-md {
    display: table-row !important;
  }
  th.visible-xs.visible-md,
  td.visible-xs.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: $screen-lg-desktop) {
  .visible-xs.visible-lg {
    display: block !important;
  }
  tr.visible-xs.visible-lg {
    display: table-row !important;
  }
  th.visible-xs.visible-lg,
  td.visible-xs.visible-lg {
    display: table-cell !important;
  }
}
.visible-sm,
tr.visible-sm,
th.visible-sm,
td.visible-sm {
  display: none !important;
}
@media (max-width: $screen-xs-max) {
  .visible-sm.visible-xs {
    display: block !important;
  }
  tr.visible-sm.visible-xs {
    display: table-row !important;
  }
  th.visible-sm.visible-xs,
  td.visible-sm.visible-xs {
    display: table-cell !important;
  }
}
@media (min-width: $screen-tablet) and (max-width: $screen-sm-max) {
  .visible-sm {
    display: block !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: $screen-desktop) and (max-width: $screen-md-max) {
  .visible-sm.visible-md {
    display: block !important;
  }
  tr.visible-sm.visible-md {
    display: table-row !important;
  }
  th.visible-sm.visible-md,
  td.visible-sm.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: $screen-lg-desktop) {
  .visible-sm.visible-lg {
    display: block !important;
  }
  tr.visible-sm.visible-lg {
    display: table-row !important;
  }
  th.visible-sm.visible-lg,
  td.visible-sm.visible-lg {
    display: table-cell !important;
  }
}
.visible-md,
tr.visible-md,
th.visible-md,
td.visible-md {
  display: none !important;
}
@media (max-width: $screen-xs-max) {
  .visible-md.visible-xs {
    display: block !important;
  }
  tr.visible-md.visible-xs {
    display: table-row !important;
  }
  th.visible-md.visible-xs,
  td.visible-md.visible-xs {
    display: table-cell !important;
  }
}
@media (min-width: $screen-tablet) and (max-width: $screen-sm-max) {
  .visible-md.visible-sm {
    display: block !important;
  }
  tr.visible-md.visible-sm {
    display: table-row !important;
  }
  th.visible-md.visible-sm,
  td.visible-md.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: $screen-desktop) and (max-width: $screen-md-max) {
  .visible-md {
    display: block !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: $screen-lg-desktop) {
  .visible-md.visible-lg {
    display: block !important;
  }
  tr.visible-md.visible-lg {
    display: table-row !important;
  }
  th.visible-md.visible-lg,
  td.visible-md.visible-lg {
    display: table-cell !important;
  }
}
.visible-lg,
tr.visible-lg,
th.visible-lg,
td.visible-lg {
  display: none !important;
}
@media (max-width: $screen-xs-max) {
  .visible-lg.visible-xs {
    display: block !important;
  }
  tr.visible-lg.visible-xs {
    display: table-row !important;
  }
  th.visible-lg.visible-xs,
  td.visible-lg.visible-xs {
    display: table-cell !important;
  }
}
@media (min-width: $screen-tablet) and (max-width: $screen-sm-max) {
  .visible-lg.visible-sm {
    display: block !important;
  }
  tr.visible-lg.visible-sm {
    display: table-row !important;
  }
  th.visible-lg.visible-sm,
  td.visible-lg.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: $screen-desktop) and (max-width: $screen-md-max) {
  .visible-lg.visible-md {
    display: block !important;
  }
  tr.visible-lg.visible-md {
    display: table-row !important;
  }
  th.visible-lg.visible-md,
  td.visible-lg.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: $screen-lg-desktop) {
  .visible-lg {
    display: block !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
.hidden-xs {
  display: block !important;
}
tr.hidden-xs {
  display: table-row !important;
}
th.hidden-xs,
td.hidden-xs {
  display: table-cell !important;
}
@media (max-width: $screen-xs-max) {
  .hidden-xs,
  tr.hidden-xs,
  th.hidden-xs,
  td.hidden-xs {
    display: none !important;
  }
}
@media (min-width: $screen-tablet) and (max-width: $screen-sm-max) {
  .hidden-xs.hidden-sm,
  tr.hidden-xs.hidden-sm,
  th.hidden-xs.hidden-sm,
  td.hidden-xs.hidden-sm {
    display: none !important;
  }
}
@media (min-width: $screen-desktop) and (max-width: $screen-md-max) {
  .hidden-xs.hidden-md,
  tr.hidden-xs.hidden-md,
  th.hidden-xs.hidden-md,
  td.hidden-xs.hidden-md {
    display: none !important;
  }
}
@media (min-width: $screen-lg-desktop) {
  .hidden-xs.hidden-lg,
  tr.hidden-xs.hidden-lg,
  th.hidden-xs.hidden-lg,
  td.hidden-xs.hidden-lg {
    display: none !important;
  }
}
.hidden-sm {
  display: block !important;
}
tr.hidden-sm {
  display: table-row !important;
}
th.hidden-sm,
td.hidden-sm {
  display: table-cell !important;
}
@media (max-width: $screen-xs-max) {
  .hidden-sm.hidden-xs,
  tr.hidden-sm.hidden-xs,
  th.hidden-sm.hidden-xs,
  td.hidden-sm.hidden-xs {
    display: none !important;
  }
}
@media (min-width: $screen-tablet) and (max-width: $screen-sm-max) {
  .hidden-sm,
  tr.hidden-sm,
  th.hidden-sm,
  td.hidden-sm {
    display: none !important;
  }
}
@media (min-width: $screen-desktop) and (max-width: $screen-md-max) {
  .hidden-sm.hidden-md,
  tr.hidden-sm.hidden-md,
  th.hidden-sm.hidden-md,
  td.hidden-sm.hidden-md {
    display: none !important;
  }
}
@media (min-width: $screen-lg-desktop) {
  .hidden-sm.hidden-lg,
  tr.hidden-sm.hidden-lg,
  th.hidden-sm.hidden-lg,
  td.hidden-sm.hidden-lg {
    display: none !important;
  }
}
.hidden-md {
  display: block !important;
}
tr.hidden-md {
  display: table-row !important;
}
th.hidden-md,
td.hidden-md {
  display: table-cell !important;
}
@media (max-width: $screen-xs-max) {
  .hidden-md.hidden-xs,
  tr.hidden-md.hidden-xs,
  th.hidden-md.hidden-xs,
  td.hidden-md.hidden-xs {
    display: none !important;
  }
}
@media (min-width: $screen-tablet) and (max-width: $screen-sm-max) {
  .hidden-md.hidden-sm,
  tr.hidden-md.hidden-sm,
  th.hidden-md.hidden-sm,
  td.hidden-md.hidden-sm {
    display: none !important;
  }
}
@media (min-width: $screen-desktop) and (max-width: $screen-md-max) {
  .hidden-md,
  tr.hidden-md,
  th.hidden-md,
  td.hidden-md {
    display: none !important;
  }
}
@media (min-width: $screen-lg-desktop) {
  .hidden-md.hidden-lg,
  tr.hidden-md.hidden-lg,
  th.hidden-md.hidden-lg,
  td.hidden-md.hidden-lg {
    display: none !important;
  }
}
.hidden-lg {
  display: block !important;
}
tr.hidden-lg {
  display: table-row !important;
}
th.hidden-lg,
td.hidden-lg {
  display: table-cell !important;
}
@media (max-width: $screen-xs-max) {
  .hidden-lg.hidden-xs,
  tr.hidden-lg.hidden-xs,
  th.hidden-lg.hidden-xs,
  td.hidden-lg.hidden-xs {
    display: none !important;
  }
}
@media (min-width: $screen-tablet) and (max-width: $screen-sm-max) {
  .hidden-lg.hidden-sm,
  tr.hidden-lg.hidden-sm,
  th.hidden-lg.hidden-sm,
  td.hidden-lg.hidden-sm {
    display: none !important;
  }
}
@media (min-width: $screen-desktop) and (max-width: $screen-md-max) {
  .hidden-lg.hidden-md,
  tr.hidden-lg.hidden-md,
  th.hidden-lg.hidden-md,
  td.hidden-lg.hidden-md {
    display: none !important;
  }
}
@media (min-width: $screen-lg-desktop) {
  .hidden-lg,
  tr.hidden-lg,
  th.hidden-lg,
  td.hidden-lg {
    display: none !important;
  }
}
.visible-print,
tr.visible-print,
th.visible-print,
td.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
  .hidden-print,
  tr.hidden-print,
  th.hidden-print,
  td.hidden-print {
    display: none !important;
  }
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700,300&subset=latin,cyrillic);
/*!
 * Fotorama 4.4.8 | http://fotorama.io/license/
 */
.fotorama__stage__shaft,.fotorama__stage__frame,.fotorama__html,.fotorama__video iframe{position:absolute;width:100%;height:100%;top:0;right:0;left:0;bottom:0}.fotorama--fullscreen,.fotorama__img{max-width:99999px!important;max-height:99999px!important;min-width:0!important;min-height:0!important;border-radius:0!important;box-shadow:none!important;padding:0!important}.fotorama__wrap .fotorama__grab{cursor:move;cursor:-webkit-grab;cursor:-moz-grab;cursor:-o-grab;cursor:-ms-grab;cursor:grab}.fotorama__grabbing *{cursor:move;cursor:-webkit-grabbing;cursor:-moz-grabbing;cursor:-o-grabbing;cursor:-ms-grabbing;cursor:grabbing}.fotorama__img,.fotorama__spinner{position:absolute!important;top:50%!important;left:50%!important}.fotorama__img{margin:-50% 0 0 -50%;width:100%;height:100%}.fotorama__wrap--css3 .fotorama__stage__shaft,.fotorama__wrap--css3 .fotorama__nav__shaft,.fotorama__wrap--css3 .fotorama__thumb-border,.fotorama__wrap--css3 .fotorama__arr,.fotorama__wrap--css3 .fotorama__fullscreen-icon,.fotorama__wrap--css3 .fotorama__video-play,.fotorama__wrap--css3 .fotorama__video-close{-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.fotorama__wrap--css3 .fotorama__spinner,.fotorama__wrap--css3 .fotorama__stage,.fotorama__wrap--css3 .fotorama__nav,.fotorama__wrap--css3 .fotorama__stage__frame,.fotorama__wrap--css3 .fotorama__stage .fotorama__img,.fotorama__wrap--css3 .fotorama__html,.fotorama__wrap--css3 .fotorama__caption,.fotorama__stage:before,.fotorama__stage:after,.fotorama__nav:before,.fotorama__nav:after{-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0)}.fotorama__wrap--video .fotorama__stage__shaft,.fotorama__wrap--video .fotorama__stage,.fotorama__wrap--video .fotorama__stage__frame--video,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__caption{-webkit-transform:none!important;-ms-transform:none!important;transform:none!important}.fotorama__wrap--css3 .fotorama__stage__shaft,.fotorama__wrap--css3 .fotorama__nav__shaft,.fotorama__wrap--css3 .fotorama__thumb-border{-webkit-transition-property:-webkit-transform;transition-property:transform;-webkit-transition-timing-function:cubic-bezier(0.1,0,.25,1);transition-timing-function:cubic-bezier(0.1,0,.25,1);-webkit-transition-duration:0ms;transition-duration:0ms}.fotorama__wrap,.fotorama__no-select,.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-play,.fotorama__video-close{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.fotorama__select{-webkit-user-select:text;-moz-user-select:text;-ms-user-select:text;user-select:text}.fotorama__nav,.fotorama__nav__frame{margin:0;padding:0}.fotorama__nav__shaft,.fotorama__nav__frame,.fotorama__caption__wrap{display:-moz-inline-box;-moz-box-orient:vertical;display:inline-block;vertical-align:middle;*display:inline;*zoom:1}.fotorama__wrap *{-moz-box-sizing:content-box;box-sizing:content-box}.fotorama__caption__wrap{-moz-box-sizing:border-box;box-sizing:border-box}.fotorama--hidden,.fotorama__load{position:absolute;left:-99999px;top:-99999px;z-index:-1}.fotorama__stage__shaft,.fotorama__stage__frame,.fotorama__nav,.fotorama__nav__shaft,.fotorama__nav__frame,.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-play,.fotorama__video-close{-webkit-tap-highlight-color:rgba(0,0,0,0)}.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-play,.fotorama__video-close{background:url(fotorama.png) no-repeat}@media (-webkit-min-device-pixel-ratio:1.5),(min-resolution:144dpi){.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-play,.fotorama__video-close{background:url(fotorama@2x.png) no-repeat;background-size:96px 160px}}.fotorama__thumb{background-color:#7f7f7f;background-color:rgba(127,127,127,.2)}.fotorama{min-width:1px;overflow:hidden}.fotorama>.fotorama__wrap{visibility:visible}.fotorama--hidden-before-ready>*{visibility:hidden}.fullscreen{width:100%!important;height:100%!important;max-width:100%!important;max-height:100%!important;margin:0!important;padding:0!important;overflow:hidden!important;background:#000}.fotorama--fullscreen{position:absolute!important;top:0!important;left:0!important;right:0!important;bottom:0!important;float:none!important;z-index:2147483647!important;background:#000;width:100%!important;height:100%!important;margin:0!important}.fotorama--fullscreen .fotorama__stage,.fotorama--fullscreen .fotorama__nav{background:#000}.fotorama__wrap{-webkit-text-size-adjust:100%;position:relative;direction:ltr}.fotorama__wrap--rtl .fotorama__stage__frame{direction:rtl}.fotorama__stage,.fotorama__nav{overflow:hidden;position:relative}.fotorama__wrap--pan-y{-ms-touch-action:pan-y}.fotorama__wrap .fotorama__pointer{cursor:pointer}.fotorama__wrap--slide .fotorama__stage__frame{opacity:1!important}.fotorama__stage__frame{overflow:hidden}.fotorama__stage__frame.fotorama__active{z-index:8}.fotorama__wrap--fade .fotorama__stage__frame{display:none}.fotorama__wrap--fade .fotorama__stage__frame.fotorama__active,.fotorama__wrap--fade .fotorama__fade-front,.fotorama__wrap--fade .fotorama__fade-rear{display:block;left:0;top:0}.fotorama__wrap--fade .fotorama__fade-front{z-index:8}.fotorama__wrap--fade .fotorama__fade-rear{z-index:7}.fotorama__wrap--fade .fotorama__fade-rear.fotorama__active{z-index:9}.fotorama__wrap--fade .fotorama__stage .fotorama__shadow{display:none}.fotorama__img{-ms-filter:"alpha(Opacity=0)";filter:alpha(opacity=0);opacity:0;border:0!important}.fotorama__loaded .fotorama__img,.fotorama__error .fotorama__img{-ms-filter:"alpha(Opacity=100)";filter:alpha(opacity=100);opacity:1}.fotorama__img--full{display:none}.fotorama--fullscreen .fotorama__loaded--full .fotorama__img{display:none}.fotorama--fullscreen .fotorama__loaded--full .fotorama__img--full{display:block}.fotorama__stage--only-active .fotorama__stage__frame{visibility:hidden}.fotorama__stage--only-active .fotorama__stage__frame.fotorama__active{visibility:visible}.fotorama__nav{font-size:0;line-height:0;text-align:center;display:none;white-space:nowrap;z-index:5}.fotorama__nav__shaft{position:relative;left:0;top:0;text-align:left}.fotorama__nav__frame{position:relative;cursor:pointer}.fotorama__nav--dots{display:block}.fotorama__nav--dots .fotorama__nav__frame{width:18px;height:30px}.fotorama__nav--dots .fotorama__nav__frame--thumb,.fotorama__nav--dots .fotorama__thumb-border{display:none}.fotorama__nav--thumbs{display:block}.fotorama__nav--thumbs .fotorama__nav__frame{padding-left:0!important}.fotorama__nav--thumbs .fotorama__nav__frame:last-child{padding-right:0!important}.fotorama__nav--thumbs .fotorama__nav__frame--dot{display:none}.fotorama__dot{display:block;width:4px;height:4px;position:relative;top:12px;left:6px;border-radius:6px;border:1px solid}.fotorama__nav__frame.fotorama__active{pointer-events:none;cursor:default}.fotorama__nav__frame.fotorama__active .fotorama__dot{width:6px;height:6px;border:0}.fotorama__dot{border-color:#7f7f7f}.fotorama__active .fotorama__dot{background-color:#7f7f7f}.fotorama__thumb{overflow:hidden;position:relative;width:100%;height:100%}.fotorama__thumb-border{position:absolute;z-index:9;top:0;left:0;border-style:solid;border-color:#00afea;background-image:-webkit-linear-gradient(top left,rgba(255,255,255,.25),rgba(64,64,64,.1));background-image:linear-gradient(to bottom right,rgba(255,255,255,.25),rgba(64,64,64,.1))}.fotorama__caption{position:absolute;z-index:12;bottom:0;left:0;right:0;font-family:'Helvetica Neue',Arial,sans-serif;font-size:14px;line-height:1.5;color:#000}.fotorama__caption a{text-decoration:none;color:#000;border-bottom:1px solid;border-color:rgba(0,0,0,.5)}.fotorama__caption a:hover{color:#333;border-color:rgba(51,51,51,.5)}.fotorama__wrap--rtl .fotorama__caption{left:auto;right:0}.fotorama__caption__wrap{background-color:#fff;background-color:rgba(255,255,255,.9);padding:5px 10px}@-webkit-keyframes spinner{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes spinner{0%{-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}}.fotorama__wrap--css3 .fotorama__spinner{-webkit-animation:spinner 24s infinite linear;animation:spinner 24s infinite linear}.fotorama__wrap--css3 .fotorama__stage .fotorama__img,.fotorama__wrap--css3 .fotorama__html,.fotorama__wrap--css3 .fotorama__caption{-webkit-transition-property:opacity;transition-property:opacity;-webkit-transition-timing-function:linear;transition-timing-function:linear;-webkit-transition-duration:.3s;transition-duration:.3s}.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__caption{-ms-filter:"alpha(Opacity=0)";filter:alpha(opacity=0);opacity:0}.fotorama__select{cursor:auto}.fotorama__video{top:32px;right:0;bottom:0;left:0;position:absolute;z-index:10}@-moz-document url-prefix(){.fotorama__active{box-shadow:0 0 0 transparent}}.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-play,.fotorama__video-close{display:block;position:absolute;z-index:11;cursor:pointer}.fotorama__arr{position:absolute;width:32px;height:32px;top:50%;margin-top:-16px}.fotorama__arr--prev{left:0;background-position:0 0}.fotorama__arr--next{right:0;background-position:-32px 0}.fotorama__arr--disabled{pointer-events:none;cursor:default;*display:none;opacity:.1}.fotorama__fullscreen-icon{width:32px;height:32px;top:0;right:0;background-position:0 -32px;z-index:20}.fotorama--fullscreen .fotorama__fullscreen-icon{background-position:-32px -32px}.fotorama__video-play{width:96px;height:96px;left:50%;top:50%;margin-left:-48px;margin-top:-48px;background-position:0 -64px;display:none}.fotorama__wrap--css3 .fotorama__video-play{display:block;opacity:0}.fotorama__loaded .fotorama__video-play,.fotorama__error .fotorama__video-play{display:block;opacity:1}.fotorama__nav__frame .fotorama__video-play{width:32px;height:32px;margin-left:-16px;margin-top:-16px;background-position:-64px -32px;opacity:1!important;display:block!important}.fotorama__video-close{width:32px;height:32px;top:0;right:0;display:none;background-position:-64px 0;z-index:20}.fotorama__wrap--no-controls .fotorama__arr,.fotorama__wrap--no-controls .fotorama__fullscreen-icon,.fotorama__wrap--video .fotorama__arr,.fotorama__wrap--video .fotorama__fullscreen-icon{display:none;opacity:0}.fotorama__wrap--css3.fotorama__wrap--slide.fotorama__wrap--no-controls .fotorama__fullscreen-icon,.fotorama__wrap--css3.fotorama__wrap--video .fotorama__fullscreen-icon{display:block;-webkit-transform:translate3d(32px,-32px,0);-ms-transform:translate3d(32px,-32px,0);transform:translate3d(32px,-32px,0)}.fotorama__wrap--css3.fotorama__wrap--slide.fotorama__wrap--no-controls .fotorama__arr--prev,.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--prev{display:block;-webkit-transform:translate3d(-48px,0,0);-ms-transform:translate3d(-48px,0,0);transform:translate3d(-48px,0,0)}.fotorama__wrap--css3.fotorama__wrap--slide.fotorama__wrap--no-controls .fotorama__arr--next,.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--next{display:block;-webkit-transform:translate3d(48px,0,0);-ms-transform:translate3d(48px,0,0);transform:translate3d(48px,0,0)}.fotorama__wrap--video .fotorama__stage .fotorama__video-play{display:none}.fotorama__wrap--video .fotorama__video-close{display:block}.fotorama__wrap--css3 .fotorama__video-close{display:block;opacity:0;-webkit-transform:translate3d(32px,-32px,0);-ms-transform:translate3d(32px,-32px,0);transform:translate3d(32px,-32px,0)}.fotorama__wrap--css3.fotorama__wrap--video .fotorama__stage .fotorama__video-play{display:block;opacity:0;z-index:-1}.fotorama__wrap--css3.fotorama__wrap--video .fotorama__video-close{opacity:1;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.fotorama__wrap--css3 .fotorama__arr,.fotorama__wrap--css3 .fotorama__fullscreen-icon,.fotorama__wrap--css3 .fotorama__video-play,.fotorama__wrap--css3 .fotorama__video-close{-webkit-transition-property:-webkit-transform,opacity;transition-property:transform,opacity;-webkit-transition-duration:.3s;transition-duration:.3s}.fotorama__stage:before,.fotorama__stage:after,.fotorama__nav:before,.fotorama__nav:after{content:"";display:block;position:absolute;text-decoration:none;top:0;bottom:0;width:10px;height:auto;z-index:10;pointer-events:none;background-repeat:no-repeat;background-size:1px 100%,5px 100%}.fotorama__stage:before,.fotorama__nav:before{background-image:-webkit-linear-gradient(transparent,rgba(0,0,0,.2) 25%,rgba(0,0,0,.3) 75%,transparent),-webkit-radial-gradient(0 50%,farthest-side,rgba(0,0,0,.4),transparent);background-image:linear-gradient(transparent,rgba(0,0,0,.2) 25%,rgba(0,0,0,.3) 75%,transparent),radial-gradient(farthest-side at 0 50%,rgba(0,0,0,.4),transparent);background-position:0 0,0 0;left:-10px}.fotorama__stage.fotorama__shadows--left:before,.fotorama__nav.fotorama__shadows--left:before{left:0}.fotorama__stage:after,.fotorama__nav:after{background-image:-webkit-linear-gradient(transparent,rgba(0,0,0,.2) 25%,rgba(0,0,0,.3) 75%,transparent),-webkit-radial-gradient(100% 50%,farthest-side,rgba(0,0,0,.4),transparent);background-image:linear-gradient(transparent,rgba(0,0,0,.2) 25%,rgba(0,0,0,.3) 75%,transparent),radial-gradient(farthest-side at 100% 50%,rgba(0,0,0,.4),transparent);background-position:100% 0,100% 0;right:-10px}.fotorama__stage.fotorama__shadows--right:after,.fotorama__nav.fotorama__shadows--right:after{right:0}.fotorama--fullscreen .fotorama__stage:before,.fotorama--fullscreen .fotorama__stage:after,.fotorama--fullscreen .fotorama__nav:before,.fotorama--fullscreen .fotorama__nav:after,.fotorama__wrap--no-shadows .fotorama__stage:before,.fotorama__wrap--no-shadows .fotorama__stage:after,.fotorama__wrap--no-shadows .fotorama__nav:before,.fotorama__wrap--no-shadows .fotorama__nav:after,.fotorama__wrap--fade .fotorama__stage:before,.fotorama__wrap--fade .fotorama__stage:after{display:none}