{% extends '../layout.swig' %}
{% import '../blocks.swig' as blocks %}
{% block title %}Магазины{% endblock %}

{% macro main(_class, _id) %}

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="wrap {{_class}}" id="{{_id}}">

  <div class="content-wrapper">

    {{ blocks.header() }}

    <div class="content">
      <div class="container_block">
        {{ blocks.breadcrumbs(
          ["Акции и скидки", "Все акции и скидки"],
          [""],
          "",
          ""
        ) }}
        <h2>Акции и скидки</h2>
        <div class="row">
          <div class="col-md-3 left_bl">
            
            {{ blocks.l_menu(
              "",
              "",
              ["Все акции и новости", 
              "Акции",
              "Скидки", 
              "Новости"
              ],
              [],
              1
            ) }}
            {{ blocks.subscribe(
                "visible-lg visible-md",
                "",
                "Подпишитесь на рассылку новостей,  чтобы быть в курсе <br/>актуальных скидок и событий!",
                "link"

              ) }}
          </div><!-- END of .col-md-3  -->

          <div class="col-md-6 right_bl">
            <div class="row shops_blocks grid_2">
              
                <div class="col-xs-9 col-sm-3 col-md-4_5">
                  {{ blocks.img_text(
                    "page_inside_center.html",
                    "actions/1.jpg",
                    "31 октября страшный и ужасный Halloween!",
                    "",
                    "",
                    "col-xs-3 col-sm-9",
                    "col-xs-6 col-sm-9"
                  ) }}
                </div>
                <div class="col-xs-9 col-sm-3 col-md-4_5">
                  {{ blocks.img_text(
                    "page_inside_center.html",
                    "actions/2.jpg",
                    "К своему 40-летию Pepe Jeans дарит скидки!",
                    "",
                    "",
                    "col-xs-3 col-sm-9",
                    "col-xs-6 col-sm-9"
                  ) }}
                </div>
                <div class="col-xs-9 col-sm-3 col-md-4_5">
                  {{ blocks.img_text(
                    "page_inside_center.html",
                    "actions/3.jpg",
                    "Дорогі друзі! COLIN'S знову радує своїх прихильників приємною пропозицією",
                    "",
                    "",
                    "col-xs-3 col-sm-9",
                    "col-xs-6 col-sm-9"
                  ) }}
                </div>
                <div class="col-xs-9 col-sm-3 col-md-4_5">
                  {{ blocks.img_text(
                    "page_inside_center.html",
                    "actions/4.jpg",
                    "Новое пицца-меню в ресторанах MAFIA!",
                    "",
                    "",
                    "col-xs-3 col-sm-9",
                    "col-xs-6 col-sm-9"
                  ) }}
                </div>
                <div class="col-xs-9 col-sm-3 col-md-4_5">
                  {{ blocks.img_text(
                    "page_inside_center.html",
                    "actions/5.jpg",
                    "Скидки 30%, 50%, 70%! Больше покупаете — больше скидка!",
                    "",
                    "",
                    "col-xs-3 col-sm-9",
                    "col-xs-6 col-sm-9"
                  ) }}
                </div>
                <div class="col-xs-9 col-sm-3 col-md-4_5">
                  {{ blocks.img_text(
                    "page_inside_center.html",
                    "actions/6.jpg",
                    "В CHESTER юбилей: 20 лет TJ COLLECTION",
                    "",
                    "",
                    "col-xs-3 col-sm-9",
                    "col-xs-6 col-sm-9"
                  ) }}
                </div>
                
            </div><!-- END of .row  -->
            <hr>
            <div class="pagination_block">
               {{ blocks.pagination(
                  '',
                  '',
                  ['1', '2', '3', '…', '7'],
                  1,
                  4
                  ) 
                }}
            </div>
            {{ blocks.subscribe(
              "visible-sm visible-xs",
              "",
              "Подпишитесь на рассылку новостей,  чтобы быть в курсе актуальных <br/>скидок и событий!",
              "link"

            ) }}

          </div><!-- END of .col-md-6  -->
          
         
          
          

          


        </div><!-- END of .row -->

      </div><!-- END of .container_block -->
    </div><!-- END of .content -->

  </div><!-- END of .content-wrapper -->

  {{ blocks.footer(
    "footer-" + _class,
    ""
  ) }}

</div><!-- END of .wrap -->

{% endmacro %}



{% block content %}
  {{ main("shops shops_left_b", "") }}
{% endblock %}
  