{% extends '../layout.swig' %}
{% import '../blocks.swig' as blocks %}
{% block title %}Подписка на новости{% endblock %}

{% macro main(_class, _id) %}

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="wrap {{_class}}" id="{{_id}}">

  <div class="content-wrapper">

    {{ blocks.header() }}

    <div class="content">
      <div class="container_block">
        {{ blocks.breadcrumbs(
          ["Подписка на новости", "Одежда", "Для всей семьи"],
          [""],
          "",
          ""
        ) }}
        <h2>Подписка на новости</h2>
        <div class="row">
          <div class="col-md-4">
            <p>
              Отраслевой стандарт ускоряет культурный бизнес-план, опираясь на опыт западных коллег. 
            </p>
            <div class="visible-lg visible-md">
              {{ blocks.social_icons(
                ["facebook", "instagram", "vk", "youtube"],
                ["LINK1", "LINK2", "LINKVK", "LIKyoutube"],
              "Или следите за нами в соцсетях:",
              "subscribe_social "
              )}}
            </div>
          </div><!-- END of .col-md-4  -->

          <div class="col-md-5 ">
            <form action="" class="subscribe_block">
              <p>
                <input type="checkbox" id="action" value="male">
                <label for="action">Акции и новости магазинов</label>
              </p>
              <p>
                <input type="checkbox" checked="checked" id="news" value="male">
                <label for="news">Мероприятия и новости Каравана</label>
              </p>
              <p>
                <input type="checkbox" id="kids" value="male">
                <label for="kids">Мероприятия для детей</label>
              </p>
              <div class="row mt_30 data_sub">
                <div class="col-sm-5 col-xs-9">
                  <input type="text" placeholder="Введите ваш email">
                  <p>
                    Нажимая на кнопку «Подписаться» вы соглашаетесь с <a href="#">правилами рассылки</a>
                  </p>
                </div> 
                <div class="col-sm-4 col-xs-3">
                  {{ blocks.btn("", "подписаться", "red mw_220", "") }}
                </div>
              </div>
            </form>
            <div class="visible-sm visible-xs">
              {{ blocks.social_icons(
                ["facebook", "instagram", "vk", "youtube"],
                ["LINK1", "LINK2", "LINKVK", "LIKyoutube"],
              "Или следите за нами в соцсетях:",
              "subscribe_social "
              )}}
            </div>
          </div><!-- END of .col-md-5  -->


          


        </div><!-- END of .row -->

      </div><!-- END of .container_block -->
    </div><!-- END of .content -->

  </div><!-- END of .content-wrapper -->

  {{ blocks.footer(
    "footer-" + _class,
    ""
  ) }}

</div><!-- END of .wrap -->

{% endmacro %}



{% block content %}
  {{ main("subscribe_page", "") }}
{% endblock %}
  