.p_404 {
	h1 {
		font-size: 40px;
		margin-top: 70px;
		margin-bottom: 40px;
	}
	img {
		display: inline-block;
		max-width: 100%;
	}
}
@media (max-width: $screen-sm-max ) {
	.p_404 {
		h1 {
			margin-top: 50px;
			margin-bottom: 40px;
		}
	}
}
@media (max-width: $screen-xs-max ) {
	.p_404 {
		h1 {
			font-size: 36px;
			margin-top: 40px;
			margin-bottom: 40px;
		}
	}
}