
.l_menu {
	margin-bottom: 15px;
}

.about {
	.city_link {
		margin-bottom: 40px;
	}
	.l_menu {
		margin-bottom: 30px;
	}
}
.city_block_btm {
	a {
		font-size: 13px;
	}
	.city_link {
		margin-bottom: 0 !important;
	}
}
@media (max-width: $screen-xs-max) {
	.about {
		.l_menu {
			margin-bottom: 10px;
		}
	}
	.city_block_btm {
		.city_link {
			margin-bottom: 25px !important;
		}
	}
} 