.arrow_link {
  display: inline-block;
  color: #324099;
  font-size: 14px;
  line-height: (24 / 14);

  & > a {
    border-color: transparent;
  }
}

@media (max-width: $screen-xs-max) {

  .arrow_link {
    font-size: 14px;
  }

}

@media (min-width: $screen-tablet) and (max-width: $screen-sm-max) {

  .arrow_link {
    font-size: 18px;
  }

}
