// .balloon_tabs {
//   @include box-sizing(border-box);
//   margin: 0 0 (8px - 2px) 0;
//   padding: 0;
//   list-style: none;
//   width: 100%;
//   border: 2px solid #dddddd;
//   @include border-radius(3px);

//   & > a {
//     position: relative;
//     display: table-cell;
//     // padding: 15px 10px;
//     padding: 10px 10px;
//     min-height: 45px;
//     border-bottom: 0;
//     color: #000;
//     width: 1%;
//     font-size: 13px;
//     font-weight: bold;
//     line-height: 1.2;
//     text-align: center;
//     vertical-align: middle;
//     text-transform: uppercase;
//     cursor: pointer;

//     outline: 1px solid green !important;

//     &:not(:first-of-type):after {
//       position: absolute;
//       top: 50%;
//       left: -2px;
//       margin-top: -7px;
//       font-size: 14px;
//       line-height: 1;
//       content: "•";
//       color: #dddddd;

//       outline: 1px solid red !important;
//     }

//     &.active,
//     &:hover {
//       background: #dddddd;

//       &:after {
//         position: absolute;
//         top: 100%;
//         margin-top: 0;
//         border: solid transparent;
//         content: " ";
//         height: 0;
//         width: 0;
//         pointer-events: none;

//         border-top-color: #dddddd;
//         border-width: 8px;
//         left: 50%;
//         margin-left: -8px;
//       }
//     }

//     &:hover,
//     &.active {
//       & + a:not(.active) {
//         &:after {
//           content: "";
//         }
//       }
//     }
//   }
// }

.balloon_tabs {
  @include box-sizing(border-box);
  margin: 0 0 (8px - 2px) 0;
  padding: 0;
  list-style: none;
  width: 100%;
  border: 2px solid #dddddd;
  @include border-radius(3px);

  & > li {
    // position: relative;
    display: table-cell;
    // padding: 15px 10px;
    // padding: 10px 10px;
    // min-height: 45px;
    border-bottom: 0;
    color: #000;
    width: 1%;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    cursor: pointer;

    padding: 0;
    margin: 0;

    // outline: 1px solid green !important;

    & > a {
      @include box-sizing(border-box);
      display: block;
      position: relative;
      // padding: 13px 10px;
      padding: 15px 10px;
      height: 100%;
      border-bottom: 0;
      color: inherit;
      font-size: inherit;
      // min-height: 100px;
    }

    &:not(:first-of-type){
      & > a {
        &:after {

  //   &:not(:first-of-type):after {
          position: absolute;
          top: 50%;
          left: -2px;
          margin-top: -7px;
          font-size: 14px;
          line-height: 1;
          content: "•";
          color: #dddddd;

          // outline: 1px solid red !important;
        }
      }
    }

    &.active,
    &:hover {
      background: #dddddd;

      & > a {
        &:after {
          position: absolute;
          top: 100%;
          margin-top: 0;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          pointer-events: none;

          border-top-color: #dddddd;
          border-width: 8px;
          left: 50%;
          margin-left: -8px;
        }
      }
    }

    &:hover,
    &.active {
      & + li:not(.active) {
        & > a {
          &:after {
            content: "";
          }
        }
      }
    }
  }
}

@media (max-width: $screen-xs-max) {

  .balloon_tabs {
    margin: 0 0 (6px - 2px) 0;

    & > li {
      position: relative;
      // min-height: 66px * 0.5;
      font-size: 18px * 0.5;

      & > a {
        position: static;
        padding: 11px 4px;
      }

      &.active,
      &:hover {
        &:after {
          border-width: 6px;
          margin-left: -6px;
        }
      }
    }
  }

}

@media (min-width: $screen-tablet) and (max-width: $screen-sm-max) {

  .balloon_tabs {
    & > li {
      position: relative;
      font-size: 18px;

      & > a {
        position: static;
      }
    }
  }

}
