.balloon_tabs_switcher {

}

.tab-content {
  overflow: auto;

  & > .tab-pane {
    display: none;
  }

  > .active {
    display: block;
  }
}

@media (max-width: $screen-xs-max) {


}

@media (min-width: $screen-tablet) and (max-width: $screen-sm-max) {


}
