.breadcrumbs {
	ul {
		padding: 0;
		margin: 0;
	}
	li:first-of-type {
		margin: 0;
	}
	li {
		color: #909090;
		font-size: 13px;
		margin: 0 2px;
		line-height: normal;
		display: inline-block;
	
		a {
			margin-right: 2px;
			line-height: normal;
			color: #909090;
			border-color: #909090;
			font-size: 13px; 
			display: inline-block;
		}
		a:hover {
			border-color: transparent;
		}
	}
}
@media (max-width: $screen-sm-max) {
	.breadcrumbs {
		li {
			font-size: 16px;
			a {
				font-size: 16px;
			}
		}
	}
}
@media (max-width: $screen-xs-max) {
	.breadcrumbs {
		li {
			font-size: 12px;
			a {
				font-size: 12px;
			}
		}
	}
}
