.btn {
  display: inline-block;
  @include box-sizing(border-box);
  // padding: 9px 20px;
  padding: 0 20px;
  // height: 38px;
  border-bottom: 0; /* hack */
  border: 2px solid transparent;
  outline: 0;
  // font: bold 13px/1.2 "Open Sans", Helvetica, Arial, sans-serif;
  font: bold 13px/31px "Open Sans", Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  // @include border-radius(38px * 0.5);
  @include border-radius(31px * 0.5 + 2 * 2px);
  cursor: pointer;

  &:hover {
    border: 2px solid transparent;
  }

  &.red {
    background: #c72228;
    color: #fff;

    &:hover {
      background: #a4181d;
    }
  }

  &.beige {
    background: #e9d8d2;
    color: #41281e;

    &:hover {
      background: #dccbc5;
    }
  }
  &.w_all {
    display: block;
  }
  &.grey {
    background: #3a3a3a;
    color: #fff;

    &:hover {
      background: #4e4e4e;
    }
  }
  &.blue {
    background: #324099;
    color: #fff;

    &:hover {
      background: #0f1c6c;
    }
  }
  &.light_grey {
    background: #f5f5f5;
    color: #000;

    &:hover {
      background: #949494;
      color: #fff;
    }
  }

  &.dark_blue {
    background: #151d55;
    color: #fff;

    &:hover {
      background: #1b256a;
    }
  }

  &.transparent {
    background: transparent !important;

    &.white {
      &.bordered {
        color: #fff;
        border: 2px solid #fff;

        &:hover {
          color: rgba(#fff, 0.6);
          border-color: rgba(#fff, 0.6);
        }
      }
    }

    &.beige {
      &.bordered {
        color: #ae9890;
        border: 2px solid #ae9890;

        &:hover {
          color: rgba(#ae9890, 0.6);
          border-color: rgba(#ae9890, 0.6);
        }
      }
    }
  }

  &.mw_220 {
    min-width: 220px;
  }
}

@media (max-width: $screen-xs-max) {

  .btn {
    // padding: 12px * 0.5 20px * 0.5;
    padding: 0 20px * 0.5;
    // height: 26px;
    font-size: 10px;
    line-height: 24px;
    border-width: 2px * 0.5 !important;
    @include border-radius(41px * 0.5 + 2 * 2px * 0.5);

    &.mw_220 {
      min-width: 220px * 0.5;
    }
  }

}
