.city_link {
	p {
		font-size: 14px;
		line-height: 30px;
		margin: 0;
	}
	.name {
		font-size: 13px;
		text-transform: uppercase;
	}
	.pin {
		padding-left: 30px;
		background: url(../images/pin.svg) no-repeat 3px 5px;
	}
}
@media (max-width: $screen-xs-max) {
	.city_link {
		p {
			font-size: 14px;
			line-height: 26px;
		}
		.pin {
			padding-left: 25px;
		}
	}
}