.contacts_blocks {
	p {
		margin: 0 !important;
		line-height: 24px;
	}
}
.city_link {
	margin-bottom: 40px;
}
.line_b {
	border-bottom: 1px solid #dcdcdc;
	padding-bottom: 40px;
	margin-bottom: 35px;
}
@media (max-width: $screen-sm-max) {
	.line_b {
		padding-bottom: 30px;
		margin-bottom: 25px;
	}
	.city_link {
		margin-bottom: 25px;
	}
}
@media (max-width: $screen-xs-max) {
	.line_b {
		padding-bottom: 25px;
		margin-bottom: 20px;
	}
	.city_link {
		margin-bottom: 15px;
	}
}