.copyright {
	p {
		color: #808080;
		font-size: 14px;
		margin-bottom: 0;
	}
	a {
		text-transform: uppercase;
		color:#fff;
		border-bottom: 0;
	}
	a:hover {
		color: #808080;
	}
}
@media (max-width: $screen-sm-max) {
	.copyright {
		span {
			display: block;
		}
	}
}

@media (max-width: $screen-xs-max) {
	.copyright {
		p {
			line-height: (15/9);
			font-size: 11px;
		}
	}
}