.f_contacnts {
	.phone {
		color: #fff;
		font-weight: 300;
		margin-bottom: 5px; 
		font-size: 22px;
		line-height: normal;
	}
	a {
		border-bottom: 0;
		color: #fff;
		font-weight: 300;
		margin-bottom: 5px; 
		font-size: 22px;
		line-height: normal;
	}
	a:hover {
		color: #808080;
	}
	& > p {
		margin-bottom: 0;
		color: #808080;
		font-size: 14px;
		line-height: 24px;
	}
}
@media (max-width: $screen-sm-max) {
	.f_contacnts {
		.phone {
			font-size: 22px;
		}
		& > p {
			line-height: 36px;
			font-size: 18px;
		}	
	}
}
@media (max-width: $screen-xs-max) {
	.f_contacnts {
		.phone {
			font-size: 16px;
		}
		& > p {
			line-height: (15/9);
			font-size: 11px;
		}	
	}
}