.f_delivery {
	& > p {
		color: #808080;
		font-size: 14px;
		margin: 0;
		line-height: 24px;
	}
	.m_20 {
		margin-top: 20px;
	}
}
@media (max-width: $screen-desktop) {
	.f_delivery {
		& > p {
			font-size: 18px;
			line-height: 30px;
		}	
	}
}
@media (max-width: $screen-xs-max) {
	.f_delivery {
		& > p {
			font-size: 11px;
			line-height: 30px;
		}	
	}
}