.film_afisha {
  background: #324099;
  padding: 6px 16px 8px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 2;
  @include border-radius(2px);

  .film_afisha_i {
    padding: 0 (24px + 16px);
    background: #324099 url('../images/calendar.svg') right center no-repeat;
    background-size: 24px;  
  }

  .film_afisha_date {
    font-weight: bold;
  }
}

@media (max-width: $screen-xs-max) {

.film_afisha {
  padding: 2px 10px;
  font-size: 12px;

  .film_afisha_i {
    padding: 0 (14px + 10px);
    background-size: 14px;
  }
}

}

@media (min-width: $screen-tablet) and (max-width: $screen-sm-max) {


}
