.film_time {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
  margin-right: 6px;
  // padding: 7px 12px;
  line-height: 1;
  color: #000;
  // border: 1px solid #dcdcdc;
  // @include border-radius(16px);

  &:last-of-type {
    margin-right: 0;
  }

  & > a {
    display: inline-block;
    padding: 7px 10px;
    border: 1px solid #dcdcdc;
    @include border-radius(16px);

    color: inherit;
    // border: 0;
    // text-decoration: 0;

    &:hover {
      background: #324099;
      border-color: #324099;
      color: #fff;
    }
  }

  &.overdue {
    padding: 7px 10px;
    // padding: 7px 0;
    text-decoration: line-through;
    color: #808080;
    border: 1px solid transparent;
  }
}

@media (max-width: $screen-xs-max) {



}

@media (min-width: $screen-tablet) and (max-width: $screen-sm-max) {

.film_time {
  font-size: 16px;
}

}
