.film_cell {
  img {
    width: 100%;
    height: auto;
    @include border-radius(2px);
    display: block;

    &:hover {
      opacity: 0.6;
    }
  }

  .film_cell_title {
    text-transform: uppercase;
    border-bottom: 0;
    font-weight: bold;
    line-height: 1.4;
  }

  .film_cell_description {
    line-height: 1.4;
  }

  .film_cell_time {
    margin-top: -8px;
  }
}


@media (max-width: $screen-xs-max) {

.film_cell {
  font-size: 15px;
}

}

@media (min-width: $screen-tablet) and (max-width: $screen-sm-max) {

.film_cell {
  font-size: 16px;
}

}