.footer {
	background: #1f1f1f;
	.p_65 {
		padding: 65px 0;
	}
	.brd_top {
		border-top: 1px solid rgba(255, 255, 255, .1);
	}
	.footer_block {
		padding: 30px 0;
	}
	.fleft {
		float: left;
	}
	.fright {
		float: right;
	}

}

@media (max-width:  $screen-xs-max) {
 	.footer {
 		text-align: center;
 		.h_menu_footer {
 			margin-top: 17px;
 		}
 		.p_65 {
			padding: 22px 0;
		} 
		.footer_block {
			padding: 12px 0 20px 0;
		}
 	}
 }
@media (min-width: $screen-tablet) and (max-width: $screen-sm-max){
	.footer {
		.social_icons {
			margin-top: 10px;
		}
	}
}
 @media (max-width: $screen-sm-max) {
 	.footer{
 		.fleft {
			float: none;
		}
		.fright {
			float: none;
		}
		.f_contacnts  {
			margin-bottom: 15px;
		}
 	}
 }