.subscribe_line {
	text-align: center;
	margin: 30px 0;
	background: #e42e35;
	color: #fff;
	padding: 25px;
	.subscribe_text {
		text-align: center;
		max-width: 69%;
		vertical-align: middle;
		display: inline-block;
	}
	p {
		margin: 0;
	}
	.subscribe_btn {
		vertical-align: middle;
		max-width: 35%;
		display: inline-block;
		.btn {
			margin-left: 20px;
		}
	}
}
@media (max-width: $screen-md-max) {
	.subscribe_line {
		text-align: left;
		p {
			font-size: 18px;
			line-height: 30px;
		}
		.subscribe_text {
			max-width: 50%;
		}
		.subscribe_btn {
			width: 49%;
			max-width: inherit;
			text-align: right;
		}
	}
}
@media (max-width: $screen-xs-max) {
	.subscribe_line {
		margin: 20px 0;
		padding: 20px;
	}
}
@media (max-width: $screen-xs-max) {
	.subscribe_line {
		margin: 10px 0;
		padding: 15px;
		.subscribe_text {
			max-width: inherit;
			display: block;
			text-align: center;
			p {
				font-size: 14px;
			}
		}
		.subscribe_btn {
			margin-top: 10px;
			width: 100%;
			display: block;
			max-width: inherit;
			text-align: center;
		}
	}
}