.google_map {
  width: 100%;
  position: relative;

  &.google_map_main {
    height: 460px;
  }
}

@media (max-width: $screen-xs-max) {

.google_map {
  &.google_map_main {
    height: 360px * 0.5;
  }
}

}