

.h_menu {
	margin: 0;
	padding: 0;
	list-style: none;
	
	
	li {
		display: inline-block;
		line-height: 1;
		// vertical-align: middle;
		
		&:not(:last-of-type){
			&:after{
				display: inline-block;
				// vertical-align: middle;
				content: '•';
				color: #5a5a5a;
				font-family: arial;
				// margin-right: 7px;
				margin: 0 6px;
			}
		}

		a {
			color: white;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 13px;
			border-bottom: 0;
			&:hover {
				color: rgba(white,0.7);
			}
			&.active {
				color: #808080;
				&:hover {
					color: #808080;
					cursor: default;
				}
			}
		}
	}

	&.h_menu_footer {
		li {
			display: block;

			&:not(:last-of-type){
				margin-bottom: 15px; 

				&:after{
					display: none;
				}
			}
		}

		a {
			font-size: 13px;
			line-height: 1.2;
			border-bottom: 0;
			&:hover {
				color: #808080; 
			}	
		}
	}
}
.mobile_menu_btn_close {
	background-color: #5665be !important;
}
.h_phone_btn.nav:active {
	background-color: #161f57 !important;
}


@media (max-width: $screen-xs-max) {
	.h_menu {

		li {
			display: block;

			
			&:not(:last-of-type){
				margin-bottom: 12.5px; 
				&:after{
					display: none;
				}
			}

			a {
				color: white;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 15px;
				border-bottom: 0;
				&:hover {
					color: rgba(white,0.7);
				}
			}
		}
	

		&.h_menu_footer {
			li {
				text-align: center;
			}

			a {
				font-size: 10px;
			}
		}
	}
}

@media (min-width: $screen-tablet) and (max-width: $screen-md-max) {
	.h_menu {

		li {
			display: block;

			
			&:not(:last-of-type){
				margin-bottom: 20px; 
				&:after{
					display: none;
				}
			}

			&:after{
				display: none;
			}
			

			a {
				font-size: 16px;
				border-bottom: 0;
			}
		}

		&.h_menu_footer {
			li {
				text-align: left;

				&:not(:first-of-type){
				margin-top: 22px; 
					&:after{
						display: none;
					}
				}
			}

			a {
				font-size: 15px;
			}
		}
	}
}

