.h_phone_btn {
  height: 55px;
  width: 55px;
  display: inline-block;
  content: " ";
  border-radius: 1.5px;
  border-bottom: none;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center; background-repeat: no-repeat; background-size: 60%;
  background-size: 22px;

  &:hover{
    border-bottom: none;
  }

  &.nav {
    background-color: #2b2687;
  }

  &.arrow {
    background-color: #d10f2d;
    background-size: 27px;
  }
  &.arrow:active {
    background-color: #ad1d23;
  }

}