.header {
  .margin_fix {
    padding: 0;
    display: inline-block;
  }

  .logo{
    img {
      width: 210px;
    }
  }

  .paddings {
    padding: 12px 0;
  } 

  .h_menu {
    vertical-align: middle;
    color: red;
  }
  .header_text{
    margin-left: 10px;
    font-size: 14px;
    &:hover {
      border-color: transparent;
    }
  }
  

  .social_icons{
    display: inline-block;
    vertical-align: middle;
    & > li {
      min-height: 28px;
    }
  }
  .i_bl {
    display: inline-block;
    &.va_m {
      vertical-align: middle;
    }
  }
  .bg_white {
    background-color: white;
  }
  .centered{
    text-align: center;
  }
  .tright {
    text-align: right;
  }
  .pright-17 {
    padding-right: 17px;
  }
  .pleft-17 {
    padding-left: 17px;
  }
  .h_white {
    .mrgns{
      margin: 30px 0;
    }
    .logo {
      margin: 15px 0;
    }
    .l_h{
      line-height: 1.4;
    }
  }
  .logo {
    display: inline-block;
    position: absolute;
    left:59%;
  }
  .select_cit {
    display: inline-block;
  }
  // .third {
  //   width: 33.333333%;
  //   display: inline-block !important;
  //   vertical-align: middle;
  // }
  .relative {
    position: relative;
  }

  .desktop_hide {
    display: none;
  }
}

@media (min-width: $screen-lg-desktop) {
  .h_socia {
    padding: 0;
  }
}

@media (max-width: $screen-md-max) {
  .header{
    .search{
      margin-bottom: 20px;
      display: inline-block;
      width: 40%;
      input[type="text"]{
        border-width: 1px;
      }
       input[type="text"] {
        width: 100%;
       }
    }
  }
}


@media (min-width: $screen-tablet) and (max-width: $screen-md-max) {
  .header {
    .logo {
      // float: left;
      // position: static;
      // margin-left: 45px !important; 
      left: 39%;
    }
    .mobile_sl {
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 10001;
    }


    .bg_gray {
      background-color: #2b2687;
      padding-bottom: 10px;
    }
    .desktop_only {
      display: none;
    }
    // .select_cit {
    //   margin-left: 45px !important; 
    // }
    .h_buttons {
      display: inline-block;
      margin-top:17px;
      float: right;
      & > a:first-of-type {
        margin-right: 15px;
      }
    }

    .mobile_menu_btn_close {
      position: absolute; 
      top: -5px;
      right: 10px;
    }
    .nav.desktop_hide{
      display: inline-block;
    }
    .h_mainmenu {
       margin: 10px 0 0 0; 
    }
    .h_socia {
      margin: 20px 0 0 0px;
    }
  }
}

@media (max-width: $screen-xs-max) {
.header {
    .search{
      width: 70%;
      margin-bottom: 15px;
    }
    .select2-container {
      vertical-align: top;
    }
    .logo {
      // float: left;
      position: static;
      margin:  3px 0 !important;
      img {
        width: 100px;
      }
      a {
        vertical-align: top;
      }
    }

    .mobile_sl {
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 10001;
    }

    .bg_gray {
      background-color: #2b2687;
      padding-bottom: 10px;
    }
    .desktop_only {
      display: none;
    }
    .select_cit {
      // margin-left: 45px !important; 
      // display: block;
      position: absolute;
      top: 10px;
    }
    .h_buttons {
      margin: 10px 0;
      line-height: 1;
      // top: 0px;
      // position: absolute;
      display: inline-block;
      float: right;
      // margin-top: 17px;
      // position: relative;
      // top: 17px;.h_buttons {
      & > a:first-of-type {
        margin-right: 10px;
      }
    }

    .mobile_menu_btn_close {
      position: absolute; 
      top: -5px;
      right: 10px;
    }
    .mob_ibl {
      display: inline-block;
      width: 100%;
    }
    .nav.desktop_hide{
      display: inline-block;
    }

    .h_mainmenu {
      margin: 10px 0 0 0; 
      z-index: 3333;
    }
    .h_socia {
      margin: 15px 0 0 0px;
    }
    .social_icons.at_header {
      li {
        a{
          width: 30px;
          height: 30px;
          background-size: 30px;
          &.facebook {
            background-position: 0 0px;
          }
          
          &.instagram {
            background-position: 0 -31px;
          }

          &.vk {
            background-position: 0 -31.5*2px;
          }

          &.youtube {
            background-position: 0 -31.5*3px;
          }
        }

      }
    } 
  }
}
