 .how_to_get {
 	display: table-cell;
 	padding: 40px;
 	vertical-align: middle;
 	.title {
 		text-transform: uppercase;
 	}
 	p {
 		margin: 0;
 	}
}
.to_get_block {
 	text-align: center;
 	background: #fff;
 	min-height: 170px;
 	width: 100%;
 	display: table;
}
@media (max-width: $screen-sm-max) {
 	.how_to_get {
 		font-size: 13px;
 		a {
 			font-size: 13px;
 		}
 	}
 	.to_get_block {
 		min-height: 210px;
 	}
}
@media (max-width: $screen-xs-max) {
 	.to_get_block {
 		min-height: 180px;
 	}
}