.how_to_get_block{
	margin-bottom: -30px;
	.to_get_block {
		margin-bottom: 30px ;
	}
}
@media (max-width: $screen-sm-max) {
	.how_to_get_block{
		margin-bottom: -20px;
		.to_get_block {
			margin-bottom: 20px;
		}
	}
}