.where_to_go {
	p {
		margin-bottom: 0;
	}
	label {
		text-transform: uppercase;
		margin-right: 20px;
		vertical-align: middle;
	}
}
@media screen and (max-width: $screen-sm-max) {
	.where_to_go {
		margin-top: 20px;
		input[type="text"] {
			width: 50%;
		}
	}
}

@media screen and (max-width: $screen-xs-max) {
	.where_to_go {
		margin-top: 20px;
		input[type="text"] {
			width: 100%;
		}
	}
}