.img_text {
	a {
		border-bottom: 0;
	}
	img {
		width: 100%;
		height: auto;
		display: block;
		border: 1px solid #d4d4d4;
		@include border-radius(3px);
	}
	img:hover {
		opacity: 0.6;
	}
	.text {
		margin-top: 12px;
		font-size: 18px;
		line-height: 30px;
		display: inline-block;
	}
}
@media (max-width: $screen-xs-max) {
	.img_text{
		.text {
			margin-top: -2px;
			line-height: (40/28);
			font-size: 14px;
		}
	}
	
}
