.img_text_inside {
	position: relative;
	a {
		border-bottom: 0;
	}
	.text {
		position: static;
		margin-top: 12px;
		a {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 13px;
			line-height: 18px;
			display: block;
		}
		.category_shops {
			color: #000;
			font-size: 13px;
			line-height: 18px;
			margin-bottom: 0;
		}
	}
	img {
		width: 100%;
		height: auto;
		display: block;
	}
	img:hover {
		opacity: 0.6;
	}
	// .ribbon {
	// 	padding: 0 10px;
	// 	text-transform: uppercase;
	// 	font-weight: bold;
	// 	font-size: 10px;
	// 	color: #fff;
	// 	height: 19px;
	// 	line-height: 19px;
	// 	display: inline-block;
	// 	position: absolute;
	// 	top: 10px;
	// 	left: 14px;
	// 	background: #ed1c24;
	// }
	// .ribbon:after {
	// 	display: inline-block;
	// 	position: absolute;
	// 	content: "";
	// 	top: 0;
	// 	right: -7px;
	// 	width: 7px;
	// 	height: 19px;
	// 	background: url(../images/ribbon.png) no-repeat;
	// 	background-size: 7px 19px;
	// }
	
}

// @media (min-width: $screen-desktop) and (max-width: $screen-md-max) {
// 	.img_text_inside  {
// 		.text {
// 			.ribbon {
// 				left: 7px;
// 			}
// 		}
// 	}
// }
@media (max-width: $screen-sm-max) {
	.img_text_inside {
		.text {
			a {
				
				font-size: 16px;
				line-height: 24px;
			}
			.category_shops {
				font-size: 16px;
				line-height: 24px;
			}
			// .ribbon {
			// 	left: 6px;
			// }
		}
		
	}
}
@media (max-width: $screen-xs-max) {
	.img_text_inside {
		.text {
			margin-top: 0px;
			a {
				margin-top: -2px;
				font-size: 14px;
				line-height: 18px;
			}
			.category_shops {
				font-size: 14px;
				line-height: 18px;
			}
		}
		// .ribbon:after {
		// 	display: none;
		// }
		// .ribbon {
		// 	height: 15px;
		// 	font-size: 8px;
		// 	line-height: 16px;
		// 	position: static;
		// 	vertical-align: top;
		// }
		
	}
}