.l_menu {
	ul {
		@include box-sizing(border-box);
		margin: 0;
		padding: 30px;
		background-color: #fff;
		border: 1px solid rgba(221, 221, 221, 0.54);
	}
	li:last-of-type {
		margin: 0;
	}
	li {
		position: relative;
		margin-bottom: 20px;
		list-style: none;
		&:hover a, &.selected a, &:hover .arrow_menu:after, &.selected .arrow_menu:after {
				color: #e42e35;
			}
		a {
			line-height: normal;
			display: block;
			font-size: 14px;
			border-bottom: 0;
			
			&.arrow_menu:after {
				color: #b3b3b3;
				display: inline-block;
				position: absolute;
				right: 0;
				content: "›";
			}
		}

	}
	.select2-container .select2-choice {
		@include border-radius (25px);
	}
	.select2-dropdown-open .select2-choice {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	.select2-result-selectable:last-of-type {
		@include border-radius (0 0 25px);
	}
	.select_menu {
		.select2-choice {
			color: #000;
			height: 50px ;
			line-height: 40px;
		}
	}
	.select2-arrow {
		right: 3px !important;
	}
}
.select2-results {
	margin-top: 0 !important;
}
.select2-results .select2-result-label {
	padding: 7px 11px 7px !important;
	font-size: 15px !important;
}
.select_menu.tinynav { display: none; }
.select2-chosen {
	font-size: 15px !important;
}
@media screen and (max-width: $screen-xs-max) {
	.select_menu {

		.select2-choice {
			height: 35px !important;
			line-height: 30px !important;
			border: 1px solid #CDCDCD !important;
		}
	}
	.select_menu.tinynav{
		font-size: 11px !important;
	}
	.select_city_drop {
		font-size: 11px;
	}
	.l_menu{
		.select2-container .select2-choice {
			@include border-radius (17px);
		}
		.select2-dropdown-open .select2-choice {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}
@media screen and (max-width: $screen-sm-max) {
    .select_menu.tinynav { display: block; font-size: 16px;}
    #nav { display: none; }
}