.lang {
	padding: 0;
	margin: 0;
	list-style: none;

	li {
		display: inline-block;
		margin-right: 10px;

		&:last-of-type {
			margin-right: 0;
		}

		a {
			font-size: 14px;
			text-transform: uppercase;
			color: #fff;
			font-weight: bold;
			border-bottom: none;

			&:hover,
			&.active {
				color: #808080;
			}

			&.active {
				cursor: default;
			}
		}
	}
}
@media (max-width: $screen-xs-max) {
	.lang {
		li {
			margin-right: 7px;
			a {
				line-height: (15/9);
				font-size: 11px;
			}
		}
		
	}
}
