$footer-height: 330px;

.no_border {
  border-color: transparent; 
}

.bg_gray  {
  background-color: #202020;
}
input[type="text"] {
	@include border-radius(19px);
	height: 34px;
	line-height: normal;
	outline: 0;
	border: 2px solid #CDCDCD;
	padding: 0 30px 0 13px;
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: none;
}
.container_block {
	max-width: 1000px;
	margin: 0 auto;
}
.t_grey {
	color: #808080;
}
.left_bl {
	font-size: 14px;
}
.content {
	& > .container_block {
		& > .row {
			margin-top: 25px;
		}
		& > h2 {
			span {
				color: #9c9c9c;
				font-size: 14px;
				line-height: 36px;
				padding-left: 10px;
			}
		}
	}
}
input[type="checkbox"] {
	margin-right: 10px;
} 

.content_text {
	& > *:last-child {
		margin-bottom: 0;
	}
	p {
		font-size: 15px;
		margin-top: 0;
		margin-bottom: 30px;
	}
	img {
		max-width: 100%;
		display: block;
		margin: 30px 0;
	}
}
.grid_2 {
	.col-md-4_5:nth-of-type(2n+1){
		clear: left;
	}
}

.grid_3 {
	.col-sm-3:nth-of-type(3n+1){
		clear: left;
	}
}
.m_40 {
	margin-bottom: 40px;
}
.mt_30 {
	margin-top: 30px;
}
@media (max-width: $screen-sm-max) {
	.content {
		& > .container_block {
			& > .row {
				margin-top: 25px;
			}
			& > h2 {
				span {
					display: block;
					font-size: 14px;
				}
			}
		}
		
	}
	.mt_40 {
		margin-top: 25px;
	}
	.m_40 {
		margin-bottom: 25px;
	}
	.row {
		margin-left: -10px;
		margin-right: -10px;
	}
	// .row {
	// 	margin: 0;	}
	.container_block {
		padding: 0 20px;
	}
	.contacts_blocks {
		p {
			line-height: 32px;
			font-size: 18px;
		}
	}
	.content_text {
		p {
			line-height: 32px;
			font-size: 18px;
		}
		img {
			margin: 20px 0;
		}
	}
	.grid_2 {
		.col-md-4_5:nth-of-type(2n+1){
			clear: none;
		}
		.col-sm-3:nth-of-type(3n+1){
			clear: left !important;
		}
	}

}
@media (min-width: $screen-desktop) and (max-width: $screen-md-max) {
	.row {
		margin-left: -10px;
		margin-right: -10px;
	}
	.container_block {
		padding: 0 10px;
	}
}

.main {
	.content {
		margin-top: 40px;
		margin-bottom: 40px;
	}
}
.content {
	margin-top: 30px;
	margin-bottom: 30px;
}

.main_balloon_tabs_switcher_w {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #dcdcdc;

	.tab-pane  {
		& > .col-md-4_5 {
			margin-top: 25px;
		}
	}
}

.promo_blocks_w {
	& > .col-md-9:not(:first-of-type) {
		margin-top: 20px;
	}
}


@media (max-width: $screen-xs-max) {
	input[type="text"] {
	   box-shadow: none;
	}
	.mt_40 {
		margin-top: 20px;
	}
	.m_40 {
		margin-bottom: 20px;
	}
	.content {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.main_balloon_tabs_switcher_w {
		padding-bottom: 15px;
		margin-bottom: 10px;

		.tab-pane  {
			& > .col-md-4_5 {
				margin-top: 15px;
			}
		}
	}

	.all_news_link {
		margin-bottom: 15px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 20px;
	}
	.container_block {
		padding: 0 20px;
		
	}
	.content {
		& > .container_block {
			& > .row {
				margin-top: 15px;
			}
		}
	}
	.contacts_blocks {
		p {
			font-size: 14px;
			line-height: 26px;
		}
	}
	.content_text {
		p {
			line-height: 26px;
			font-size: 14px;
			margin-bottom: 25px;
		}
		img {
			margin: 20px 0;
		}
	}
}

@media (min-width: $screen-tablet) and (max-width: $screen-sm-max) {
	.main_balloon_tabs_switcher_w {
		padding-bottom: 25px;
		margin-bottom: 25px;
		border-bottom: 1px solid #dcdcdc;
	}

	.all_news_link {
		margin-bottom: 35px;
	}

	.promo_blocks_w {
		& > .col-md-9 {
			margin-top: 0 !important;
		}
	}
}

@media (min-width: $screen-lg-desktop) {
	// footer
	html, body {
		height: 100%;
	}
	.wrap {
		height: 100%;
	}
	.content-wrapper {
		min-height: 100%;
		height: auto; // НЕ УДАЛЯТЬ!!!!
		padding-bottom: $footer-height;
	}
	.footer {
		position: relative;
		margin-top: -$footer-height;
	}
}




