.shops_inside {
	.fotorama_inside {
		margin: 30px 0;
	}
	.social_like {
		line-height: normal;
	}
	
}

.discount {
	.discount_title:after {
		content: "";
		display: block;
		clear: both;
	} 
	h3 {
		margin: 0;
	}
	.img_text {
		margin-top: 35px;
	}
	.img_text_inside  {
		margin-top: 35px;
	}
}
@media (max-width: $screen-md-max){
	.discount {
		.img_text_inside {
			margin-top: 20px;
		}
		.img_text {
			margin-top: 20px;
		}
		.text-center {
			text-align: left;
		}
	}
}
@media (max-width: $screen-sm-max) {
	.shops_inside {
		.fotorama_inside {
			margin: 25px 0;
		}
		.content_text {
			margin-top: 15px;
			font-size: 18px;
		}
	}
	.discount {
		.img_text_inside {
			margin-top: 20px;
		}
		.img_text {
			margin-top: 20px;
		}
		.text-center {
			text-align: left;
		}
	}
}
@media (max-width: $screen-xs-max ){
	.shops_inside{
		.fotorama_inside {
			margin: 20px 0;
		}
		.content_text {
			p {
				margin-bottom: 30px;
			}
		}
		
	}
	.discount {
		.img_text_inside {
			margin-top: 25px;
		}
		.img_text {
			margin-top: 25px;
		}
		.text-center {
			text-align: left;
		}
		.text-right {
			text-align: left;
		}
	}
}