.zip {
	line-height: normal;
	padding-left: 30px;
	background: url(../images/zip.svg) no-repeat left center;
	a {
		vertical-align: super;
	}
}
@media (max-width: $screen-xs-max){
	.zip{
		a{
			font-size: 13px;
		}
	}
}