.promo_block {
	position: relative;
	padding: 37px;
	@include border-radius(3px);
	@include box-sizing(border-box);

	&.promo_red {
		background: #e42e35;
		color: #fff;
	}
	&.promo_beige {
		background: #f4e9e5;
		color: #41281e;
		.position_a {
			&.c_img {
				border: 5px solid #f4e9e5;
			}
		}
		
	}
	& > h3 {
		margin-top: 0px;
		margin-bottom: 20px;
		line-height: 30px;
	}
	& > p {
		line-height: 24px;
		font-size: 14px;
		margin: 0;
	}
	.m_20 {
		margin-top: 20px;
	}
	.position_a {
		position: absolute;
		&.t_img {
			top: 42px;
			right: -10px;
		}
		&.c_img{
			top: 70px;
			right: -50px;
			@include border-radius(50%);
		}
	}
	.list {
		padding: 0;
		li {
			list-style-position: inside;
			line-height: 24px;
			font-size: 14px;
		}
	}
}
@media (max-width: $screen-xs-max) {
	.promo_block {
		padding: 20px;
		& > p {
			font-size: 11px;
			line-height: 15px;
		}
		& > h3 {
			font-size: 15px;
			line-height: 17px;
		}
		.list {
			li {
				font-size: 11px;
				line-height: 15px;
			}
		}
	}
}

@media (max-width: $screen-md-max) {
	.promo_block {
		.position_a {
			display: none;
		}
	}
	
}