.ribbon {
  position: absolute;
  top: 10px;
  left: 14px;
  display: inline-block; 
  padding: 0 0 0 10px;
  height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  color: #fff;
  line-height: 18px;
  background: #ed1c24;
  z-index: 10;

  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: -18px;    
    border: (20px * 0.5) solid #ed1c24;
    border-right-color: transparent;
    z-index: -1;
  }

  &.ribbon_map {
    top: 20px;
    left: -7px;
    height: 30px;
    font-size: 14px;
    line-height: 28px;

    &:after {
      right: -28px;    
      border: (30px * 0.5) solid #ed1c24;
      border-right-color: transparent;
    }
  }
}

.map_ribbon {
  position: relative;
}
@media (min-width: $screen-desktop) and (max-width: $screen-md-max) {

.ribbon {
   left: 7px;

   &.ribbon_map {

   }
 }

}

@media (max-width: $screen-sm-max) {

.ribbon {
  left: 6px;

  &.ribbon_map {

  }
}

}

@media (max-width: $screen-xs-max) {

.ribbon {
  position: static;
  height: 15px;
  font-size: 8px;
  line-height: 16px;
  padding-right: 10px;
  vertical-align: top;

  &:after {
    display: none;
  }

  &.ribbon_map {
    position: absolute;
    top: 10px;
    left: -3px;
    font-size: 8px;
    height: 18px;
    line-height: 17px;

    &:after {
      display: block;
      right: -12px;    
      border: (18px * 0.5) solid #ed1c24;
      // border: (18px * 0.5) solid yellow;
      border-right-color: transparent;
    }
  }
}

}