.search_blocks {
	margin-bottom: -35px;
	.search_post {
		margin-bottom: 35px;
	}
	.search_title {
		margin: 0;
		a {
			font-size: 18px;
			border-bottom: none;
			line-height: 30px;
			display: inline-block;
		}
	}
	.search_word {
		background: #fff000;
	}
}
@media (max-width: $screen-sm-max) {
	.search_blocks {
		margin-top: 10px;
		margin-bottom: -25px;
		.search_post {
			margin-bottom: 25px;
		}
		.search_title {
			a {
				margin-bottom: 5px;
				line-height: normal;
				font-size: 20px;
			}
		}
	}
	
}
@media (max-width: $screen-xs-max) {
	.search_blocks {
		margin-top: 10px;
		margin-bottom: -20px;
		.search_post {
			margin-bottom: 20px;
		}
		.search_title {
			a {
				font-size: 18px;
			}
		}
	}
}