.shops_contacts {
	@include border-radius(3px);
	padding: 30px;
	background-color: #fff;
	border: 1px solid rgba(221, 221, 221, 0.54);
	.icons {
		padding-left: 35px;
		position: relative;
		&.icons:before {
			position: absolute;
			width: 15px;
			height: 15px;
			content: "";
			left: 0;
			top: 11px;
			background: url(../images/shopone_icons.svg) no-repeat;
			background-size: 100%;
			
		}
		&.time:before {
			background-position: 0px 0px; 
		}
		&.phone:before {
			background-position: 0px -16px; 
		}
		&.site:before {
			background-position: 0px -31px; 
		}
	}
	
	img {
		@include border-radius(3px);
		width: 100%;
		height: auto;
	}
	.contacts {
		.btn {
			width: 100%;
			margin-top: 30px;
		}
		margin-top: 20px;
		font-size: 13px;
		line-height: 36px;
		p {
			margin: 0;
		}
		a.icons {
			font-size: 14px;
		}
		a.site:hover {
			border-bottom: 0;
		}
	}
}
@media (min-width: $screen-tablet) and (max-width: $screen-sm-max ) {
	.shops_contacts {
		.contacts {
			margin-left: 10px;
			margin-top: -10px !important;
			font-size: 16px;
			.icons {
				font-size: 16px;
			}
			.btn {
				margin-top: 20px !important;
				padding: 0 40px;
				width: auto !important;
				display: inline-block;
			}
		}
	}
}
@media (max-width: $screen-sm-max ){
	.shops_contacts {
		.btn {
			margin-top: 20px !important;
			padding: 0 40px;
			width: auto !important;
			display: inline-block;
		}
		
	}
}
@media (max-width: $screen-xs-max){
	.shops_contacts {
		.icons {
			padding-left: 23px;
			line-height: 23px;
			font-size: 14px;
			&:before {
				top: 5px !important;
			}
		}
		.contacts { 
			margin-top: 15px;
			line-height: 23px;
			font-size: 14px;
		}
		.btn {
			padding: 0 15px;
		}
	}
}