.shops_list {
		
	.shops_blocks_list {
		margin-bottom: 50px;
		.img_text_inside {
			margin-top: 15px !important;
			margin-bottom: 0 !important;
		}
		.text {
			margin-top: 0;
			a {
				font-weight: normal;
				text-transform: none;
				font-size: 14px;
			}
		}
		&:after {
			content: " ";
			display: table;
			clear: both;
		}
	}
}
