.shops {
	.subscribe {
		margin-bottom: 15px;
		.btn {
			display: block;
		}
	}
	.img_text {
		margin-bottom: 35px;
	}
}
@media (max-width: $screen-sm-max){
	.shops_left_b {
		.l_menu {
			width: 100%;
			float: none;
		}
		.subscribe {
			margin-bottom: 0;
			margin-top: 30px;
		}
	}
}
@media (max-width: $screen-xs-max){
	.shops_left_b {
		.subscribe {
			margin-top: 25px;
		}
	}
}
