.breadcrumbs {
	line-height: normal;
}
.content {
	.search {
		margin-bottom: 15px;
	}
}
.flright {
	float: right;
}
.view  {
	margin-bottom: 15px;
}
.l_menu {
	margin-bottom: 15px;
}
.shops_blocks {
	margin-bottom: -35px;
	clear: both;
	.img_text_inside {
		margin-bottom: 35px;
	}
	.img_text {
		margin-bottom: 35px;
	}
	// & > div:nth-child(-n+3){
	// 	.img_text_inside {
	// 		margin-top: 15px;
	// 	}
	// }
}
@media (max-width: $screen-sm-max) {
	.flright{
		width: 45%;
	}
	.view {
		margin-top: 0px;
	}
	.l_menu {
		margin-bottom: 15px;
	}
	.shops {
		.l_menu {
			position: relative;
			z-index: 9;
			width: 50%;
			float: left;
		}
		
		.select2-container .select2-choice .select2-arrow {
			right: 5px;
		}
	}
	.shops_blocks {
		margin-bottom: -30px;
		.img_text_inside {
			margin-bottom: 30px !important;
		}
		.img_text {
			margin-bottom: 30px !important;
		}
	}
}
@media (max-width: $screen-xs-max) {
	
	.flright{
		float: none;
		width: 100%;
	}
	.shops {
		.l_menu {
			float: none;
			width: 100%;
		}
	}
	.shops_blocks {
		margin-bottom: -20px;
		.img_text_inside {
			margin-bottom: 20px !important;
		}
		.img_text {
			margin-bottom: 20px !important;
		}
	}
}