
.fotorama {
	&.main_slide {
		position: relative;
		margin: 0 auto;
		.fotorama__wrap{
			margin: 0 auto;
		}
	}
	img {
		margin-left: 0 !important;
		width: 100% !important;
		left: 0 !important;
		margin-top: 0 !important;
		top: 0 !important;
		height: auto !important;
	}
	.b_slide{
		max-width: 1000px;
		height: 100%;
		margin: 0 auto;
		color: #fff;
		.rb_slide {
			height: 100%;
			background: rgba(35,15,24, 0.8);
			width: 50%;
			display: block;
			position: absolute;
			right: 0;
		}
		
		h2 {
			margin: 0 0 40px 0;
			line-height: 48px;
			text-transform: uppercase;
		}
		
		.b_slide_text{
			position: relative;
			display: table;
			z-index: 9;
			width: 50%;
			height: 100%;
			float: right;
		}
		.slide_text {
			display: table-cell;
		   text-align: center;
		   vertical-align: middle;
		}
	}
	.img_slide {
		height: 100%;
	}
	.fotorama__nav-wrap {
		position: relative;
		max-width: 1000px;
		margin: 0 auto;
	}
	.fotorama__nav--dots {
		max-width: 1000px !important;
		margin: 0 auto;
		position: absolute;
		bottom: 30px;
		.fotorama__nav__shaft {
			float: left;
		}
	}
	.fotorama__dot {
		width: 9px;
		height: 9px;
		background: #fff;
		border: 2px solid #fff;
		@include box-sizing(border-box);
	}
	.fotorama__active {
		.fotorama__dot {
			background: #676c6c;
			width: 9px;
			height: 9px;
			border: 2px solid #fff;
		}
	}
}

@media (max-width: $screen-sm-max) {
	.fotorama {
		img {
			min-height: 170px !important;
			margin-left: 0 !important;
			left: 0 !important;
			margin-top: 0 !important;
			top: 0 !important;
			width: 100% !important;
		}
		.fotorama__stage {
			max-height: 170px !important;
		}
		.b_slide {
			.rb_slide {
				width: 100%;
			}
			.b_slide_text {
				width: 100%;
				text-align: center;
			}
			h2 {
				font-size: 18px;
				line-height: normal;
				margin: 0 0 15px 0;
			}
			.slide_text {
				padding: 0 10px 0 10px;
			}
			p {
				font-size: 11px;
			}
		}
		.fotorama__nav--dots {
			max-width: 1000px !important;
			margin: 0 auto;
			position: relative;
			bottom: 0px;
			left: 0;
			.fotorama__nav__shaft {
				float: none;
			}
		}
		.fotorama__dot {
			background: #676c6c;
			border: 3px solid #676c6c;
			@include box-sizing(border-box);
		}
		.fotorama__active {
			.fotorama__dot {
				background: #fff;
				border: 3px solid #676c6c;
			}
		}
	}
}
@media (max-width:$screen-lg-desktop) {
	.fotorama {
		.fotorama__dot {
			width: 16px;
			height: 16px;
			left: 0;
			@include border-radius(50%);
		}
		.fotorama__active {
			.fotorama__dot {
				width: 16px;
				height: 16px;
				left: 0;
				@include border-radius(50%);
			}
		}
		.fotorama__nav__frame {
			margin-right: 5px;
		}
	}
}
@media (max-width: $screen-tablet){
	.fotorama__nav--dots {
		left: 20px;
	}
	.fotorama {
		.fotorama__dot {
			width: 16px;
			height: 16px;
			left: 0;
			@include border-radius(50%);
		}
		.fotorama__active {
			.fotorama__dot {
				width: 16px;
				height: 16px;
				left: 0;
				@include border-radius(50%);
			}
		}
		.fotorama__nav__frame {
			margin-right: 5px;
		}
	}
	
}
@media (min-width: $screen-tablet){
	.fotorama {
		img {
			min-height: 480px !important;
			margin-left: 0 !important;
			width: auto !important;
			left: 0 !important;
			margin-top: 0 !important;
			top: 0 !important;
		}
		.fotorama__stage {
			min-height: 480px !important;
		}
		
		.b_slide{
			
			h2 {
				font-size: 36px;
			}
			.rb_slide{
				width: 50%;
			}
			.b_slide_text {
				width: 50%;
				height: 100%;
				float: right;
			}
			.slide_text {
				text-align: left;
				padding: 0 15px 0 25px;
			}
			p {
				font-size: 18px;
			}
		}
	}
}


@media (min-width: $screen-desktop) {
	.fotorama {
		img {
			margin-left: 0 !important;
			width: 100% !important;
			left: 0 !important;
			margin-top: 0 !important;
			top: 0 !important;
			height: auto !important;
		}
		.b_slide{
			.slide_text {
				padding: 0 45px 0 50px;
			}
			h2 {
				font-size: 30px;
			}
			p {
				font-size: 13px;
			}
		}
	}
}

@media (min-width: $screen-desktop) and (max-width: $screen-md-max){
	.fotorama {
		.fotorama__nav--dots {
			padding: 0 10px;
			box-sizing: border-box;
		}
	}
}