.fotorama_inside {
	.fotorama__arr, .fotorama__fullscreen-icon, .fotorama__video-play, .fotorama__video-close {
		background: none;
	}
	.fotorama__wrap--css3.fotorama__wrap--slide.fotorama__wrap--no-controls .fotorama__arr--prev, .fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--prev{
		-webkit-transform: translate3d(0px, 0, 0);
		-ms-transform: translate3d(0px, 0, 0);
		transform: translate3d(0px, 0, 0);
	}
	.fotorama__wrap--css3.fotorama__wrap--slide.fotorama__wrap--no-controls .fotorama__arr--next, .fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--next {
		-webkit-transform: translate3d(0px, 0, 0);
		-ms-transform: translate3d(0px, 0, 0);
		transform: translate3d(0px, 0, 0);
	}
	.fotorama__arr:hover {
		background-color: rgba(0,0,0,0.5);
	}
	.fotorama__arr {
		background-color: rgba(0,0,0,0.3);
		height: 100%;
		top: 0;
		width: 65px;
		margin-top: 0;
		display: block !important;
		opacity: 1 !important;
	}
	.fotorama__arr:after{
		position: absolute;
		width: 17px;
		height: 25px;
		top: 50%;
		content: "";
		background: url(../images/fotorama.png) no-repeat;
		margin-top: -6px;
	}
	.fotorama__arr--next:after {
		right: 50%;
		margin-right: -10px;
		background-position: 0 -25px;
	}
	.fotorama__stage__shaft {
		position: relative;
	}
	.fotorama__arr--prev:after {
		left: 50%;
		margin-left: -10px;
	}
	.fotorama__stage{
		min-height: inherit !important;
		max-height: inherit !important;
	}
	img {
		min-height: inherit !important;
		height: auto !important;
		width: 100% !important;
	}
}
@media (max-width: $screen-xs-max) {
	.fotorama__arr:after {
		width: 10px !important;
		height: 14px !important;
		background-size: 100% !important;
	}
	.fotorama__arr--prev:after {
		background-position: 0 0px;
		margin-left: -7px !important;
	}
	.fotorama__arr--next:after {
		background-position: 0 -14px !important;
		margin-right: -7px !important;
	}
	.fotorama__arr {
		width: 35px !important;
	}
}