.social_like {
	line-height: 1;

	.social_btn {
		display: inline-block;
		margin-right: 20px;
	}
	.social_btn:last-of-type {
		margin-right: 0;
	}

	&.centered {
		text-align: center;
		
		.social_btn:first-of-type{
			margin-left: 50px;
		}
	}
}

@media (max-width: $screen-xs-max) {
.social_like {
	.social_btn {
		display: block;
		margin-top: 10px;
		margin-right: 0;

		&:first-of-type {
			margin-top: 0;
		}
	}

	&.centered  {
		text-align: left;
		margin-left: 40%;

		.social_btn:first-of-type{
			margin-left: 0;
		}
	}
}
}
