.social_icons {
  list-style: none;
  margin: 0;
  padding: 0;

  & > li {
    display: inline-block;
    vertical-align: middle;
    // min-height: 25px;

    &:not(:last-of-type) {
      margin-right: 5px;
    }

    & > a {
      display: block;
      width: 20px;
      height: 20px;
      background-image: url("../images/social-icons.svg");
      border-bottom: 0;

      &:hover {
        opacity: 0.6;
      }

      &.facebook {
        background-position: 0 0px;
      }
      
      &.instagram {
        background-position: 0 -21px;
      }

      &.vk {
        background-position: 0 -42px;
      }

      &.youtube {
        background-position: 0 -63px;
      }

    }
  }

  span {
    color: #808080;
    margin-right: 10px;
    font-size: 14px;
  }

  .vis-desktop {
    display: none;
  }
}


@media (min-width: $screen-tablet) and (max-width: $screen-md-max) {
.social_icons.at_header {

  & > li {
    display: inline-block;
    vertical-align: middle;
    min-height: 20px;

    &:not(:last-of-type) {
      margin-right: 20px !important;
    }

    & > a {
      width: 40px;
      height: 40px;
      background-size: 100%;

      &.facebook {
        background-position: 0 0px;
      }
      
      &.instagram {
        background-position: 0 -21*2px;
      }

      &.vk {
        background-position: 0 -42*2px;
      }

      &.youtube {
        background-position: 0 -63*2px;
      }
    }
  }

  span {
    color: #808080;
    margin-right: 10px;
    font-size: 13px;
  }
}
}
@media (min-width: $screen-desktop) {
  .social_icons {
    .vis-desktop {
      display: inline;
    }
  }
}


@media (max-width: $screen-sm-max) {
  .social_icons {
    & > li {

      &:not(:last-of-type) {
        margin-right: 10px !important;
      }
      &:nth-of-type(2) {
        margin-left: 0 !important;
      }
      &:nth-of-type(1) {
        margin-left: 0 !important;
      }

      & > a {
      width: 40px;
      height: 40px;
      background-size: 100%;

      &.facebook {
        background-position: 0 0px;
      }
      
      &.instagram {
        background-position: 0 -21*2px;
      }

      &.vk {
        background-position: 0 -42*2px;
      }

      &.youtube {
        background-position: 0 -63*2px;
      }
    }
    }
  }
}
@media (max-width: $screen-xs-max) {
  .social_icons.at_footer {
      & > li {
      display: inline-block;
      vertical-align: middle;
      min-height: 25px;

      &:not(:last-of-type) {
        margin-right: 5px;
      }

      & > a {
        display: block;
        width: 20px;
        height: 20px;
        background-image: url("../images/social-icons.svg");
        border-bottom: 0;

        &:hover {
          opacity: 0.6;
        }

        &.facebook {
          background-position: 0 0px;
        }
        
        &.instagram {
          background-position: 0 -21px;
        }

        &.vk {
          background-position: 0 -42px;
        }

        &.youtube {
          background-position: 0 -63px;
        }

      }
    }

    span {
      color: #808080;
      margin-right: 10px;
      font-size: 13px;
    }

    .vis-desktop {
      display: none;
    }
  }
}

.subscribe_social {
  li {
    &:not(:last-of-type) {
      margin-right: 13px;
    }
    a {
      display: block;
      width: 30px;
      height: 31px;
      background-image: url("../images/subscribe_icons.svg");
      border-bottom: 0;
      background-size: 30px;
      &.facebook {
        background-position: 0 0px;
      }
      
      &.instagram {
        background-position: 0 -31px;
      }

      &.vk {
        background-position: 0 -62px;
      }

      &.youtube {
        background-position: 0 -93px;
      }
    }

  }
}