.subscribe {
	padding: 30px;
	background-color: #fff;
	border: 1px solid rgba(221, 221, 221, 0.54);
	p {
		font-size: 14px;
	}
}
@media (max-width: $screen-sm-max){
	.subscribe {
		p {
			font-size: 18px;
		}
	}
}
@media (max-width: $screen-xs-max){
	.subscribe {
		p {
			font-size: 14px;
		}
	}
}