.subscribe_social {
	span {
		color: #000;
		font-size: inherit;
	}
	.vis-desktop {
		margin-bottom: 10px;
		display: block;
	}
}
.subscribe_block {
	p {
		margin-bottom: 0;
	}
	input[type="text"] {
		width: 100%;
	}
}
.data_sub {
	color: #9c9c9c;
	font-size: 12px;
	line-height: 18px;
	p {
		margin-top: 10px;
		padding-left: 15px;
		a {
			border-color: #9c9c9c;
			color: #9c9c9c;
		}
		a:hover {
			border-color: transparent;
		}
	}
	
}
@media (max-width: $screen-sm-max) {
	.subscribe_social {
		margin-top: 20px;
		.vis-desktop {
			margin-bottom: 0px;
		}
	}
	.subscribe_block {
		margin-top: 20px;
	}
	.data_sub {
		margin-top: 15px;
	}
}
@media (max-width: $screen-xs-max) {
	.subscribe_block {
		margin-top: 20px;
	}
	.subscribe_social {
		.vis-desktop {
			margin-bottom: 5px;
		}
	}
	.data_sub {
		margin-top: 15px;
		.btn {
			margin-top: 15px;
		}
		p {
			padding-left: 0;
		}
		.mw_220 {
			width: 100%;
		}
	}
}