.view {
	display: inline-block;
	background-color: #fff;
	@include border-radius(3px);
	border: 1px solid #dcdcdc;
	ul {
		margin: 0;
		padding: 0;
	}
	
	li {
		list-style: none;
		display: inline-block;
		&:first-of-type a{
			border-right: 1px solid #dcdcdc;
		}
		.active:hover .view_tile:before, .active .view_tile:before, a:hover .view_tile:before {
			background-position: 0px -17px;
		}
		.view_tile:before {
			background-position: 0px 0px;
			
		}
		.view_list:before {
			background-position: -17px 0px;
		}
		a:hover .view_list:before,  .active:hover .view_list:before, .active .view_list:before{
			background-position: -17px -17px;
		}
		a {
			position: relative;
			height: 34px;
			@include box-sizing(border-box);
			padding: 0px 15px 0px 32px;
			line-height: 34px;
			display: block;
			font-size: 11px;
			color: #a3a3a3;
			border: 0;
			&.active, &:hover {
				color: #000;
			}
			span:before {
				background: url(../images/icons_list.svg) no-repeat;
				position: absolute;
				content: "";
				width: 16px;
				height: 16px;
				top: 50%;
				margin-top: -8px;
				left: 10px;
				background-size: 201% !important;
			}
		}
	}
}

@media (max-width: $screen-sm-max) {
	.view {
		display: block;
		ul {
			display: table;
		}
		li {
			display: table-cell;
			width: 1%;
			.active:hover .view_tile:before, .active .view_tile:before, a:hover .view_tile:before {
				background-position: 0px -26px;
			}
			.view_tile:before {
				background-position: 0px 0px;
				
			}
			.view_list:before {
				background-position: -26px 0px;
			}
			a:hover .view_list:before,  .active:hover .view_list:before, .active .view_list:before{
				background-position: -26px -26px;
			}
			a {
				padding: 0px 15px 0px 30%;
				height: 50px;
				line-height: 50px;
				font-size: 16px;
				span:before {
					width: 25px;
					margin-top: -12px;
					height: 25px;
					left: 10% !important;
				}
			}
		}
	}
}
@media (max-width: $screen-xs-max) {
	.view {
		li {
			.active:hover .view_tile:before, .active .view_tile:before, a:hover .view_tile:before {
				background-position: 0px -18px;
			}
			.view_tile:before {
				background-position: 0px 0px;
				
			}
			.view_list:before {
				background-position: -18px 0px;
			}
			a:hover .view_list:before,  .active:hover .view_list:before, .active .view_list:before{
				background-position: -18px -18px;
			}
			a {
				height: 35px;
				line-height: 35px;
				text-align: center;
				font-size: 11px;
				span:before {
					margin-top: -9px;
					width: 18px;
					height: 18px;
				}
			}
		}
	}
}