.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  text-align: center;

  & > li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    // text-align: center;
    color: #000;

    &:first-of-type {
      margin-left: 0;
    }

    & > .pagination_cell {
      display: table;
      width: 100%;
      height: 100%;

      & > a {
        display: table-cell;
        // width: 25px;
        // height: 25px;
        vertical-align: middle;
        @include border-radius(50%);
        background: #e4e4e4;
        border-bottom: 0;
        color: #000;

        &:hover {
          background: #ed1c24;
          color: #fff;
        }
      }
    }

    & > .pagination_ellipsis {
      display: inline-block;
      margin-top: 5px;
    }

    &.active {
      & > .pagination_cell {
        & > a {
          background: #ed1c24;
          color: #fff;
        }
      }
    }
  }
}

@media (max-width: $screen-xs-max) {

  // .pagination {
  //   font-size: 12px;
  // }

}

@media (min-width: $screen-tablet) and (max-width: $screen-sm-max) {

  .pagination {
    font-size: 18px;

    & > li {
      width: 40px;
      height: 40px;
      margin-left: 10px;

      // & > .pagination_cell {
      //   & > a {
      //     width: 40px;
      //     height: 40px;
      //   }
      // }

      & > .pagination_ellipsis {
        margin-top: 12px;
      }
    }
  }

}
