{% macro header(wtf) %}
<header class="header">
  <div class="bg_gray h_gray desktop_only mobile_sl" id="main_menu">
    <div class="container_block">
      <div class="row paddings">

        <div class="col-lg-8 col-md-9 relative h_mainmenu">
          <div class="search_m hidden-lg" >
             {{ blocks.search("", "Поиск") }}
          </div>
          {{ blocks.h_menu(
            ['Главная','Магазины', 'Развлечения и услуги', 'Рестораны и кафе', 'Кино', 'Для детей', 'Акции и скидки', 'События'],
            ['main.html', 'shops.html', 'funservices.html', 'restaraunt.html', 'film.html','for_kids.html','actions_left_b.html', 'events.html']) 
          }}
          {{ blocks.h_phone_btn("nav", " mobile_menu_btn_close desktop_hide", "#", "mobile_menu_btn_close") }}
        </div>
        
        <div class="col-lg-1 col-md-3 h_socia">
          {{ blocks.social_icons(
          ["facebook", "instagram", "vk", "youtube"],
          ["LINK1", "LINK2", "LINKVK", "LIKyoutube"], "", " at_header ")}}
        </div>
      </div>
    </div>
  </div>
  <div class="bg_white h_white" id="h_block">
    <div class="container_block">
      <div class="row relative">
        <div class="col-lg-6 col-md-9 mob_ibl">
          <div class="mrgns select_cit">
            <div class="i_bl va_m ">
              {{ blocks.select(["Киев", "Днепропетровск", "Харьков"], "select_city", "select_city") }}
            </div>
            <a href="map.html" class="no_border i_bl va_m l_h header_text desktop_only">Карта проезда</a>
          </div>
          <div class="logo centered absolute">
            <div class="i_bl va_m ">
              {{ blocks.linked_image("main.html", "images/logo_karavan.svg") }}
            </div>
          </div>
          <div class="i_bl desktop_hide h_buttons">
            {{ blocks.h_phone_btn("arrow", "", "#", "navigate") }}
            {{ blocks.h_phone_btn("nav", "", "#", "mobile_menu_btn") }}
          </div>
        </div>
        <div class="col-lg-3 col-md-3 mrgns tright desktop_only">
          <a href="map.html" class="no_border i_bl va_m l_h header_text">Схема ТРЦ</a>
          <div class="i_bl va_m pleft-17">
            {{ blocks.search("", "Поиск") }}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
{% endmacro %}
