{% macro how_to_get(_class, _id, _taxi, link, phone, img_class, text_class) %}
	<div class="to_get_block">
		<div class="how_to_get {{_class}}" id= "{{_id}}">
			<p class="title"><strong>{{_taxi}}</strong></p>
			<p><a href="">{{link}}</a></p>
			{% if phone == 0 %}
			{% else %}
				<p>{{phone}}</p>
			{% endif %}
		</div>
	</div>
{% endmacro %}
