{% macro img_text_inside(_class, _id, _href, _img, _text, category_shops, text_class, img_class, ribbon) %}
	<div class="img_text_inside {{_class}}" id= "{{_id}}">
		{% if _img == 0 %}
		{% else %}
			<a href="{{_href|default('#')}}" class="{{img_class}}">
				<img src="{{url}}images/{{_img}}" alt="">
			</a>
		{% endif %}
		<div class="text {{text_class}}">
			{% if ribbon == 0 %}
			{% else %}
				{# <span class="ribbon">{{ribbon}}</span> #}
				{{ blocks.ribbon(ribbon, "", "") }}
			{% endif %}
			<a href="{{_href|default('#')}}">{{_text}}</a>
			{% if category_shops == 0 %}
			{% else %}
				<p class="category_shops">{{category_shops}}</p>
			{% endif %}
		</div>
	</div>
{% endmacro %}
