{% macro img_text(_href, _img, _text, _class, _id, img_class, text_class) %}
	<div class="img_text {{_class}}" id= "{{_id}}">
		<div class="row">
			<div class="{{img_class}}">
				<a href="{{_href|default('#')}}">
					<img src="{{url}}images/{{_img}}" alt="">
				</a>
			</div>
			<div class="{{text_class}}">
				<a class="text" href="{{_href|default('#')}}">{{_text}}</a>
			</div>
		</div>

	</div>
{% endmacro %}
