{% macro select(options, _class, _id) %}
  <select class="select {{_class}}" id="{{_id}}">
    {% for option in options %}
      {% if loop.first %}
      <option selected>{{ option }}</option>
      {% else %}
      <option>{{ option }}</option>
      {% endif %}
    {% endfor %}
  </select>
{% endmacro %}